.cart
    margin-bottom: 5rem
    +desktop
        margin-bottom: 6.5rem
    
    &__content
        @extend .columns
        flex-direction: column
        +tablet
            flex-direction: row
    &__sidebar-wrapper
        @extend .column--sidebar
        display: block
    
    &__sidebar
        +tablet
            padding-left: 1.75rem
            position: sticky
            top: 10%
    
    &__purchases-wrapper
        @extend .column--content
    &__purchases
        margin-bottom: 1rem
        +desktop
            margin-right: 1.5rem
            margin-bottom: 2rem
    
    &__border-right
        +desktop
            margin-right: -1.5rem
            border-right: 1px solid $border-color_4

    &__header
        +flex-container
        margin: 1.5rem 0 .5rem 0
        +desktop
            margin: 2.25rem 1.5rem 2rem 0
    &__header-layout
        display: flex

    &__title
        @extend .title-5
        +desktop
        &--out-of-stock
            margin: 3.5rem 0 .5rem 0
            +desktop
                margin-bottom: 2rem
    
    &__view-switcher
        display: flex
        align-items: center
        width: 12rem
        margin-right: 1rem

    &__view-switch
        @extend .checkbox-switch
        display: none
        margin-bottom: 0
        +desktop
            display: flex
    &__view-switch-input
        @extend .checkbox-switch
        &:checked + .cart__view-switch-slider
            background-color: rgba($primary-red, .56)
        &:checked + .cart__view-switch-slider:before
            background-color: $primary-red
            transform: translateX(1rem)
    &__view-switch-slider
        @extend .checkbox-switch__slider
    &__view-switch-label
        @extend .checkbox-switch__label
        @extend .text-2

    &__clear-btn
        @extend .link-blue
        @extend .subtitle-2
        & svg
            fill: $blue
            width: $size_16
            height: $size_18
            margin-right: .5rem

.cart-search
    padding-top: 1.5rem
    &__head
        display: flex
    &__title
        @extend .text-2
        font-weight: 700
        padding-right: 0.6875rem
    &__icon
        position: relative
        cursor: pointer
        & svg
            width: $size_18
            height: $size_18
            fill: $light-grey
    &__tooltip
        @extend .tooltip
        width: 15rem
        top: 1.875rem
        left: -12rem
        &::before
                left: calc(84% - .5rem);
        +tablet
            left: -7rem
            &::before
                left: calc(50% - .5rem)
        & svg
            fill: $light-grey
            width: 0.75rem
            height: 0.75rem
            flex-shrink: 0
            margin-left: 1rem
            +tablet
                display: none
        &--open
            display: flex
    &__form
        padding-top: 1.125rem
    &__textarea-wrapper
        border: 1px solid $border-color
        border-radius: 2px
        padding: 0.5rem
        max-width: auto
        +tablet
            max-width: 21rem
    &__textarea
        padding: .75rem 1rem
        @extend .text-3
        color: $light-grey
        &::-webkit-scrollbar-button
            none
        &::-webkit-scrollbar
            width: 0.25rem
            padding: 0.5rem
        &::-webkit-scrollbar-thumb
            background: $border-color
            border-radius: 2px
        &::-webkit-scrollbar-track
            background: $pre-white
            border-radius: 2px
    &__btn
        width: 100%
        background: #fff
        outline: none
        margin-top: 1rem
        padding: 0.4375rem 0
        text-align: center
        max-width: auto
        +tablet
            max-width: 7.5rem
        border: 1px solid $primary-red
        color: $primary-red
        font-weight: 600
        cursor: pointer
        border-radius: 4px
        +tablet
            &:hover
                border-color: $primary-hover
                color: $primary-hover