.selected-items
    padding: 2rem
    padding-top: 1.5rem
    border: 1px solid $blue
    box-sizing: border-box
    border-radius: 4px
    margin-right: 1.5rem
    &__head
        padding-bottom: 0.75rem
        border-bottom: 1px solid $border-color_4
    &__head-desc
        display: flex
        align-items: center
    &__head-icon
        margin-right: 1.875rem
        & svg
            width: 1.875rem
            height: 1.875rem
            fill: $blue
    &__head-info
        @extend .text-2
        flex: 1
    &__head-title
        font-weight: 600
        margin-bottom: 0.25rem
    &__head-deploy
        cursor: pointer
        color: $blue
        display: flex
        align-items: center
        @extend .text-2
        font-weight: 600
    &__head-deploy-icon
            margin-left: 0.75rem
            & svg
                width: 1rem
                height: 0.625rem
                fill: $blue
    &__head-btn
        margin-top: 1.25rem
    &__label
        @extend .form__label
        flex-direction: row
    &__checkbox
        +checkbox
    &__checkbox-text
        margin-left: 1.75rem
    &__content
        margin-top: 0.5rem
    &__list
        padding-left: 0.75rem
    &__btn
        margin-top: 2rem
        @extend .button-catalogue