.agile
    &__slides
        align-items: stretch !important
    &__nav-button
        background: rgba(255, 255, 255, 0.4)
        border-radius: 100%
        //color: $text-color-primary
        //font-size: $font-size_9
        transition-duration: .3s
        width: 56px
        height: 56px
        +absolute-center-x
        top: calc(50% - 20px)
        &:hover
            background: #ffffff
            opacity: 1
        &--prev
            left: 40px
        &--next
            right: 40px
    &__dots
        margin: 16px auto 0
    &__dot
        margin: 0 $dot-spacing
        +mobile
            pointer-events: none
        button
            width: $dot-width
            height: $dot-width
            background: $pre-white
            border-radius: 100%
            padding: 0
            transition-duration: .3s

        &:hover
            button
                background: $light-grey
        &--current button,
        &--current:hover button
            background: $light-grey
            transition-duration: .3s
            cursor: default

