.brand
    @extend .container
    &__title
        @extend .title-5
        font-weight: 700
    &__head
        margin-top: 1.5rem
        +tablet
            margin-top: 2rem
    &__head-wrap
        padding: 1.5rem
        background: #FFEB41
        border-radius: 4px
        +tablet
            display: flex
            justify-content: space-between
            align-items: center
    &__head-title
        display: none
        @extend .title-2
        font-weight: 700
        +tablet
            display: block
    &__main
        margin-top: 1.5rem
        +tablet
            margin-top: 2rem
    &__main-title
        @extend .text-1
        font-weight: 700
    &__main ul
        margin-top: 1rem
        +tablet
            max-width: 56.5rem
            margin-top: 1.5rem
    &__main li
        position: relative
        padding-left: 1.5rem
        margin-bottom: 1.5rem
        &::before
            position: absolute
            content: ''
            width: 0.375rem
            height: 0.375rem
            background: $primary-red
            border-radius: 50%
            left: 0
            top: 0
            transform: translateY(100%)
    &__main p
        @extend .text-5
        font-weight: 400
        color: $grey