.button
    +unselectable
    display: flex
    justify-content: center
    align-items: center
    font:
        family: $font-montserrat-bold
        size: $font-size_3
        weight: $font-weight_bold
    line-height: $line-height_3
    color: $white
    text-align: center
    background-color: $primary-red
    border-radius: $border-radius
    transition: .25s
    cursor: pointer
    &:hover
        background-color: $primary-hover
    &--secondary--grey
        @extend .button
        color: $grey
        background-color: transparent
        border: 1px solid $grey
        &:hover
            background-color: transparent
            color: $black
            border-color: $black
    &--secondary--red
        @extend .button
        color: $primary-red
        background-color: transparent
        border: 1px solid $primary-red
        +tablet
            font-size: $font-size
            line-height: $line-height
        &:hover
            background-color: transparent
            color: $primary-hover
            border-color: $primary-hover
    &--secondary--blue
        @extend .button
        color: $blue
        background-color: transparent
        border: 1px solid $blue
        font-size: $font-size_3
        line-height: $line-height_3
        &:hover
            background-color: transparent
            color: $black
            border-color: $black
    &--disabled
        @extend .button
        color: $white
        background-color: $border-color
        cursor: not-allowed
        & a
            color: $white
            pointer-events: none
        &:hover
            background-color: $border-color
            
    &-card
        @extend .button
        width: 10.375rem
        height: 2rem
    &-primary
        @extend .button
        width: 100%
        height: 2.5rem
        +tablet
            width: 13.6875rem
    &-more
        @extend .button
        width: 100%
        height: 3rem
        +tablet
            width: 12.4375rem
    &-catalogue
        @extend .button
        @extend .title-4
        width: 8.3125rem
        height: 2.5rem
    &-modal
        @extend .button
        font-family: $font-montserrat-semibold
        font-weight: $font-weight_semibold
        width: 100%
        height: 2.5rem
        +tablet
            width: 12.8125rem