.link
    &-1
        @extend .text-1
        position: relative
        color: $black
        &:hover
            color: $black
            text-decoration: underline
    &-2
        @extend .text-2
        color: $grey
        &:hover
            color: $black
    &-3
        @extend .text-2
        color: $black
        &:hover
            color: $primary-hover
        &_mobile
            @extend .text-3
            color: $light-grey
            &:hover
                color: $primary-hover