=list
    margin: 1.25rem 0 1rem .5rem
    font-size: $font-size_3
    line-height: $line-height_4
    color: $grey
    +tablet
        margin: 2.5rem 0 2rem .5rem
        font-size: $font-size
        line-height: $line-height
    li
        position: relative
        margin-top: 1.5rem
        padding-left: 1.5rem
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: .375rem
            height: .375rem
            background: $primary-red
            border-radius: 50%
            transform: translateY(100%)