=mobile-menu-links
    &__links
        padding-bottom: .5rem
        border-bottom: 1px solid $border-color_2
    &__link
        padding: 1.125rem 1.4375rem 1.125rem 1.125rem
        +flex-container
        font-size: $font-size_3
        color: $grey
        & svg
            width: .375rem
            height: $size_10
            fill: $icon-grey
        &--closed svg
            transform: rotate(90deg)
        &--opened svg
            transform: rotate(-90deg)
        &_content
            padding: .625rem 1.4375rem 0 2.3125rem
        &_sublink
            font-size: $font-size_3
            color: $grey
            margin-bottom: 1.25rem
            &--active
                +flex-container
                color: $black
                & svg
                    fill: $icon-grey
                    width: $size_10
                    height: $size_10
    &__info
        margin-top: .5rem
        &_link
            display: flex
            justify-content: baseline
            color: $grey
            font-size: $font-size_3
            padding: 1.125rem
            & svg
                fill: $icon-grey
                width: $size_16
                height: $size_16
                margin-right: .6875rem