.radio
    display: inline-flex
    align-items: center
    position: relative
    cursor: pointer
    &--column
        display: block
    &:hover
        .radio__check
            border-color: $light-grey
        input:checked + .radio__check
           border-color: $primary-red 
    
    input
        display: none
        
    &__check
        min-width: 1rem
        height: 1rem
        margin-right: .5rem
        border: 2px solid $border-color
        border-radius: 50%
        cursor: pointer
        &:hover
            border-color: $light-grey

    &__label
        display: block
        
    input:checked + &__check
        display: flex
        align-items: center
        justify-content: center
        border-color: $primary-red
        &:before
            content: ''                        
            width: .5rem
            height: .5rem
            background-color: $primary-red
            border-radius: 50%
