.tabs
    display: flex
    flex-direction: row
    justify-content: flex-start
    width: 100%
    border-bottom: 1px solid $border-color_3
    &__tab
        @extend .tabs-typo
        color: $light-grey
        cursor: pointer
        padding-bottom: .4375rem
        &--active
            color: $black
            border-bottom: 2px solid $primary-red
        &:hover
            +tablet
                color: $black
        