@for $i from 1 through 5
    .title-#{$i}
        font-family: $font-montserrat-bold
        font-weight: $font-weight_bold

// .title
//     &-1
//         font:
//             family: $font-montserrat-bold
//             size: $font-size_1
//             weight: $font-weight_bold
//         line-height: $line-height_1
//     &-2
//         font:
//             family: $font-montserrat-bold
//             size: $font-size_5
//             weight: $font-weight_bold
//         line-height: $line-height_5
//     &-3
//         font:
//             family: $font-montserrat-bold
//             size: $font-size_6
//             weight: $font-weight_bold
//         line-height: $line-height_6
//     &-4
//         font:
//             family: $font-montserrat-bold
//             size: $font-size
//             weight: $font-weight_bold
//         line-height: $line-height
//     &-5
.title
    &-1
        font-size: $font-size_1
        line-height: $line-height_1
    &-2
        font-size: $font-size_5
        line-height: $line-height_5
    &-3
        font-size: $font-size_6
        line-height: $line-height_6
    &-4
        font-size: $font-size
        line-height: $line-height
    &-5
        font-size: $font-size_8
        line-height: $line-height_8
        +tablet
            font-size: $font-size_6
            line-height: $line-height_6

.subtitle
    &-1
        font:
            family: $font-montserrat-regular
            size: $font-size_2
            weight: $font-weight
        line-height: $line-height_2
    &-2
        font:
            family: $font-montserrat-semibold
            size: $font-size_3
            weight: $font-weight_semibold
        line-height: $line-height_3
    &-3
        font:
            family: $font-montserrat-semibold
            size: $font-size_3
            weight: $font-weight_semibold
        line-height: $line-height_11
        +tablet
            font-size: $font-size
            line-height: $line-height

@for $i from 1 through 4
    .text-#{$i}
        font-family: $font-montserrat-regular
        font-weight: $font-weight

// .text
//     &-1
//         font:
//             family: $font-montserrat-regular
//             size: $font-size
//             weight: $font-weight
//         line-height: $line-height
//     &-2
//         font:
//             family: $font-montserrat-regular
//             size: $font-size_3
//             weight: $font-weight
//         line-height: $line-height_3
//     &-3
//         font:
//             family: $font-montserrat-regular
//             size: $font-size_4
//             weight: $font-weight
//         line-height: $line-height_4
    // &_active
    //     font-family: $font-montserrat-semibold
    //     font-weight: $font-weight_semibold
//     &-4
//         @extend .text-2
//         line-height: $line-height_10
//         +tablet
//             font-size: $font-size
//             line-height: $line-height

.text
    &-1
        font-size: $font-size
        line-height: $line-height
    &-2
        font-size: $font-size_3
        line-height: $line-height_3
    &-3
        font-size: $font-size_4
        line-height: $line-height_4
    &-4
        font-size: $font-size_3
        line-height: $line-height_10
        +tablet
            font-size: $font-size
            line-height: $line-height
    &_active
        font-family: $font-montserrat-semibold
        font-weight: $font-weight_semibold

.show-more
    font:
        family: $font-montserrat-semibold
        size: $font-size_3
        weight: $font-weight_semibold
    line-height: $line-height_3
    color: $blue

.discount
    &-text
        font:
            family: $font-montserrat-medium-italic
            size: $font-size
            weight: $font-weight_medium
            style: italic
        line-height: 80%
        color: $white
        &_bold
            @extend .discount-text
            font:
                family: $font-montserrat-bold-italic
                weight: $font-weight_bold
    &-value
        font:
            family: $font-montserrat-bold-italic
            size: $font-size_7
            weight: $font-weight_bold
            style: italic
        line-height: $line-height_7
        color: $white

.tabs-typo
    font:
        family: $font-montserrat-bold
        size: $font-size_3
        weight: $font-weight_bold
    line-height: $line-height_3
    +tablet
        font-size: $font-size_8
        line-height: $line-height_8

.label-typo
    font:
        family: $font-montserrat-regular
        size: $font-size_4
        weight: $font-weight
    line-height: $line-height_4
    +tablet
        font-size: $font-size_9
        line-height: $line-height_9

.dot-font
    font-family: 'pwd_fix'
    font-size: $font-size_6
    letter-spacing: .375rem
    color: $grey