.new-items
    @extend .container
    margin-bottom: 56px
    &__title
        @extend .title-3
        margin-bottom: 32px
    &__block
        @extend .bestsellers__block
    &__cards
        @extend .bestsellers__cards
    &__content
        
        &_items-block
            display: flex
            flex-wrap: wrap
            margin-left: -15px
            margin-right: -15px
            +desktop
                margin: 0
        & .card:not(:last-child)
            +desktop
                margin-right: 24px
        & .card:nth-child(-n+3)
            +desktop
                margin-bottom: 24px
    & .slider-cards
        +mobile
            display: none