.topnav
    background: #F6F6F6
    +mobile
        display: none
    &-container
        @extend .container
        display: flex
        padding: 0.875rem 0
    &__nav
        flex: 1
        &-list
            display: flex
        &-item
            padding-right: 1.5rem
            &:last-child
                padding-right: 0
        &-link
            color: $grey
    &__switch
        padding-right: 1.625rem
        display: flex
        &-icon
            padding-right: 0.313rem
        &-text
            color: $grey
    &__phone
        &-link
            color: $grey
            display: flex
        &-icon 
            padding-right: 0.625rem