.search-response
    @extend .container
    margin-top: 2.5rem
    margin-bottom: 0.3125rem
    +tablet
        margin-top: 4.375rem
        margin-bottom: 5rem
    &__title
        @extend .title-9
        font-weight: 700
    &__text
        @extend .text-5
        font-weight: 400
        margin-top: 0.75rem
        +tablet 
            margin-top: 1rem
