<section class="banners-section">
    <div class="banners-section__title">Акции</div>
    <component is="slider-action" 
               :action-banners="{{ actionBanners|json_encode()|e('html_attr') }}"
    ></component>
</section>