<section class="banners-section">
    <div class="link-more">
		<a class="link-more__text">
            {{ 'main_page.link.more_products'|trans }}
			<svg class="link-more__icon" viewbox="-3 0 12 10">
				<use xlink:href="./images/sprite.svg#arrows__arrow-right"></use>
			</svg>
        </a>
	</div>
    <div class="banners-section__title">{{ 'main_page.stock.title'|trans }}</div>
    <div class="slider-action">
        <component is="slider-action" :quantity={{ actionBanners|length }}>
            {% for slide in actionBanners %}
                <div class="slider-action__slide">
                    <img src="{{ slide.img }}" alt="">
                </div>
            {% endfor %}
        </component>
    </div>
</section>