<section class="banners-section">
    <div class="banners-section__title">Плитка баннеров наших акций</div>
    <div class="banners-section__content">
        {% for actionBanner in actionBanners %}
            <a href="{{ actionBanner.link }}" class="banners-section__banner">
                <img src="{{ actionBanner.img }}" alt="">
            </a>
        {% endfor %}
    </div>
</section>