<section class="bestsellers">
    <div class="bestsellers__title">{{ 'main_page.bestsellers.title'|trans }}</div>
    <div class="bestsellers__block">
        <div class="bestsellers__cards">
            {% for product in bestsellers %}
                <component
                    is="card"
                    :card-size="'short'"
                    :product="{{ product|json_encode()|e('html_attr') }}"
                >
                    {% include '../partials/card.twig' with {'product': product} %}
                </component>
            {% endfor %}
        </div>
    </div>
    <div class="slider-cards slider-cards--short-card">
        <component
                is="slider-cards"
                :dots="false"
                :quantity={{ bestsellers|length }}
            >
                {% for product in bestsellers %}
                    <div class="slider-cards__slide">
                        <card
                            :change-icon="true"
                            :card-size="'short'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </component>
    </div>
</section>