<div class="bestsellers">
    <div class="bestsellers__title">Хиты продаж</div>
    <div class="bestsellers__block">
        {#<div class="bestsellers__banner">
            <img src="{{ templatePath }}demo_images/banners/promo4.png" alt="">
        </div>#}
        <div class="bestsellers__cards">
            {% for product in bestsellers %}
                <component
                    is="card"
                    :card-size="'short'"
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
            {% endfor %}
        </div>
    </div>
</div>