<section  class="cards-grid">
    <h2 class="cards-grid__title">Карточки по сетке</h2>
    <div class="cards-grid__layout">
        <div class="cards-grid__sidebar"></div>
        <div class="cards-grid__content">
            <div class="cards-grid__grid">
                {% for product in products %}
                    <div class="cards-grid__card">
                        <card
                            :change-icon="false"
                            :card-size="'short'"
                            :card-grid="'grid'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{# 
    :card-grid="'grid'" для расстановки по сетке
    блок сетки с карточкми временно на главное странице
#}