<section  class="card-collection">
    <div class="slider-cards__title">{{ 'main_page.selection.title'|trans }}</div>
    <div class="slider-cards slider-cards--short-card">
        <component
            is="slider-cards"
            :dots="false"
            :quantity={{ products|length }}
        >
            {% for product in products %}
                <div class="slider-cards__slide">
                    <card
                        :change-icon="true"
                        :card-size="'short'"
                        :product="{{ product|json_encode()|e('html_attr') }}"
                    >
                        {% include '../partials/card.twig' with {'product': product} %}
                    </card>
                </div>
            {% endfor %}
        </component>
    </div>
</section>