<section class="collection">
    <h2 class="collection__title">Подборка подборок</h2>
    <div class="collection__content">
        {% for collection in collections %}
            <a class="collection__block" href="{{ collection.link }}">
                <div class="collection__card">
                    <img
                        src="{{ collection.img }}"
                        alt="{{ collection.title }}"
                        class="collection__img">
                </div>
                <p class="collection__name">{{ collection.title }}</p>
            </a>
        {% endfor %}
    </div>
</section>