<section class="new-items">
{#    <div class="new-items__title">Новинки от производителя</div>#}
    <component
        is="slider-cards"
        :change-icon="true"
        :dots="false"
        :title="'Новинки от производителя'"
        :card-size="'short'"
        :products="{{ noveltys|json_encode()|e('html_attr') }}"
    ></component>
    {#<div class="new-items__content">
        <div class="new-items__content_items-block">
            {% for product in noveltys %}
                <component
                    is="card"
                    :card-size="'short'"
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
            {% endfor %}
        </div>
    </div>#}
</section>