<section class="new-items">
    <div class="new-items__title">Новинки от производителя</div>
    <div class="new-items__content">
        <div class="new-items__content_items-block">
            {% for product in noveltys %}
                <component
                    is="card"
                    :card-size="'short'"
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
            {% endfor %}
        </div>
        {#<div class="new-items__content_banner">
            <img src="{{ templatePath }}demo_images/banners/promo4.png" alt="">
        </div>#}
    </div>
</section>