<div class="slider-promo">
    <div class="slider-promo__title">{{ 'main_page.promo.title'|trans }}</div>
    <component is="slider-promo"
               :promo-banners="{{ promoBanners|json_encode()|e('html_attr') }}"
    ></component>
</div>