.in-favorite
    cursor: pointer
    display: none
    align-items: center
    transition: .35s
    +desktop
        display: flex
        &:hover
            color: $black
        &:hover svg
            fill: $icon-black
    svg
        fill: $light-grey
        width: $size_18
        height: $size_16
        transition: .35s
    span
        display: block
        margin-left: .375rem
        +desktop
            margin-left: .75rem
    &_active svg,
    &_active:hover svg
        fill: $primary-red
    &--mobile
        white-space: nowrap
        padding-top: 1rem
        display: flex
        align-items: center
        & svg
            width: $size_12
            height: $size_10
            transition: .35s
        +desktop
            display: none
        