.slider-main
    @extend .container
    margin-top: 32px
    margin-bottom: 32px
    +desktop
        margin-top: 40px
        margin-bottom: 56px
    &__slide
        position: relative
        height: 190px
        padding: 50px 80px
        display: flex !important
        align-items: flex-end
        +desktop
            height: 450px
        &_img
            +absolute-full
            +full-content
            object-fit: cover
            object-position: center center
            z-index: -1
        &_link
            @extend .button-primary
            width: 199px
            height: 48px
            margin-bottom: 51px
            display: none
            +desktop
                display: flex
            &:hover
                color: $white
    & .agile__nav-button
        &--prev
            display: none