.slider-cards
    @extend .container
    margin-bottom: 3.5rem
    +mobile
        margin-right: 0
    & > .agile > .agile__list
        +desktop
            width: calc(100% - 5.625rem)
    &__title
        @extend .title-3
        margin-bottom: 2rem
    &__slide
        padding: 0 .75rem
        position: relative
        & .card
            width: 100%
            +mobile
                border: none
    & .agile
        margin-left: -.625rem
        margin-right: -.625rem
    & .agile__nav-button
        background: $pre-white
        &--prev
            display: none
        &--next
            top: 0
            right: 0
            transform: translate(0)
            border-radius: $border-radius
            width: 4.125rem
            height: 100%
            display: none
            +desktop
                display: block
            &:hover
                box-shadow: none
                background: $border-color
                & svg
                    fill: $icon-black
            & svg
                fill: $icon-grey
                width: .375rem
    & .card
        +mobile
            padding: 0