.to-compare
    cursor: pointer
    align-items: center
    display: none
    transition: .35s
    +desktop
        display: flex
        &:hover
            color: $black
        &:hover svg
            fill: $icon-black
    & svg
        fill: $light-grey
        // width: 18px
        // height: 18px
        width: $size_14
        height: $size_18
        transition: .35s
    span
        display: block
        margin-left: .375rem
        +desktop
            margin-left: .75rem
    &_active svg,
    &_active:hover svg
        fill: $primary-red
    &--mobile
        padding-top: .75rem
        display: flex
        align-items: center
        svg
            width: $size_12
            height: $size_10
        