.to-compare
    cursor: pointer
    align-items: center
    display: none
    transition: .35s
    +desktop
        display: flex
        &:hover
            color: $black
        &:hover .to-compare__icon-compare
            fill: $icon-black
    &__icon-compare
        fill: $light-grey
        // width: 18px
        // height: 18px
        width: $size_14
        height: $size_18
        transition: .35s
    span
        display: block
        margin-left: .375rem
        +desktop
            margin-left: .75rem
    &--active .to-compare__icon-compare,
    &--active:hover .to-compare__icon-compare
        fill: $primary-red
    &--mobile
        padding-top: .75rem
        display: flex
        align-items: center
        .to-compare__icon-compare
            width: $size_12
            height: $size_10
        