.brand
    @extend .container
    &__title
        @extend .title-3
    &__head
        margin-top: 1.5rem
    &__head-logo
        width: 139px
        height: 41px
    &__head-wrap
        padding: 1.5rem
        background: #FFEB41
        border-radius: 4px
        margin-top: 1.5rem
        +tablet
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 2rem
    &__head-title
        display: none
        @extend .title-2
        +tablet
            display: block
    &__main
        margin-top: 1.5rem
        +tablet
            margin-top: 2rem
    &__main-title
        @extend .title-6
    &__main ul
        +list
        margin-top: 0
        line-height: $line-height_3
        +tablet
            max-width: 56.5rem
            margin-top: 1.5rem
            margin-bottom: 0
            font-size: $font-size_3
        & li
            +mobile
                margin-top: 1.1875rem
