.checkout-reg
    +tablet
        max-width: 43.5rem
        margin-right: 1.5rem
    &__form
        +tablet
            display: flex
            justify-content: space-between
            flex-wrap: wrap
    &__label
        @extend .form__label
        flex-direction: column
        +tablet
            width: calc(100% / 2 - 24px)
            &:first-child
                width: 100%
    &__input
        @extend .form__input
    &__input_error
        @extend .input-modal_error
    &__label-text
        @extend .form__label-text
        &_up
            @extend .form__label-text--up
    &__label-icon
        @extend .form__label-icon
    &__error-text
        @extend .form__error-text
        &_invalid
            @extend .form__error-text--invalid
    &__tabs
        display: flex
        text-align: center
    &__tab
        padding-bottom: 0.625rem
        width: 50%
        @extend .text-5
        border-bottom: 2px solid $pre-white
        font-weight: 600
        color: $light-grey
        +tablet
            cursor: pointer
            &:hover
                color: $black
        &--active
            color: $primary-red
            border-color: $primary-red

    &__content
        margin-top: 1.5rem
        +tablet
            margin-top: 2rem
    