.checkout
    @extend .container
    +tablet
        display: flex
        justify-content: space-between
    margin-top: 2.25rem
    &__main
        +tablet
            width: 75%
            border-right: 1px solid $border-color_4
            margin-right: 1.75rem
        &--border-none
            border: none
    &__content
        margin-bottom: 5rem
        +tablet
            margin-bottom: 6.5rem
    &__order
        margin-top: 1.5rem
        min-height: 20.0625rem
        max-width: 19.25rem
        +tablet
            margin-top: 0
            min-height: auto
            max-width: auto
            width: 25%
    &__title
        @extend .title-5
        font-weight: 700
        margin-top: 1.5rem
        +tablet
            margin-top: 2.25rem
    &__login
        padding-top: 1.5rem
        +tablet
            padding-top: 2rem
            max-width: 21rem
        & .user__button
            margin: 1rem 0
        & .user-login__form
            margin: 0
    &__desc
        margin-top: 2rem
        +tablet
            margin-top: 2.5rem
            max-width: 43.5rem
            margin-right: 1.5rem
    &__tabs
        display: flex
        text-align: center
    &__tab
        padding-bottom: 0.625rem
        width: 50%
        @extend .text-5
        border-bottom: 2px solid $pre-white
        font-weight: 600
        color: $light-grey
        +tablet
            cursor: pointer
            &:hover
                color: $black
        &--active
            color: $primary-red
            border-color: $primary-red
    &__btn-wrap
        z-index: 2
        display: none
        background: $white
        +tablet
            margin-top: 2.75rem
            display: block
        &--mobile
            margin: 1rem 0
            display: block!important
            +tablet
                display: none!important
        &--fixed
            margin: 0
            @extend .cart-order__btn-wrap--fixed
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) -50.04%, #FFFFFF 36.02%)
    &__btn
        @extend .button-catalogue
        width: 100%
        +tablet
            max-width: 11.25rem
    &__info
        @extend .text-3
        padding-top: 1rem
        font-weight: 400
        color: $light-grey
        display: none
        +tablet
            display: block
    &__info-link
        cursor: pointer
        color: $grey
        font-weight: 600


.checkout-choice
    padding-top: 2rem
    +tablet
        padding-top: 2.25rem
    &__title
        @extend .title-6
        font-weight: 700
    &__form
        display: flex
        flex-direction: column
        padding-top: 1.5rem
        +tablet
            padding-top: 2rem
    &__radio
        @extend .radio
        margin-top: 1rem
    &__check
        @extend .radio__check
        min-width: 1.25rem
        height: 1.25rem
        &::before
            width: 0.625rem!important
            height: 0.625rem!important
    &__radio-label
        @extend .radio__label
        @extend .text-5
        font-weight: 400