.checkout-reg
    &__form
        +tablet
            display: flex
            justify-content: space-between
            flex-wrap: wrap
    &__label
        @extend .form__label
        flex-direction: column
        +tablet
            width: calc(100% / 2 - 12px)
            &:first-child
                width: 100%
    &__input
        @extend .form__input
        &--error
            @extend .input-modal--error
    &__label-text
        @extend .form__label-text
        &--up
            @extend .form__label-text--up
    &__label-icon
        @extend .form__label-icon
    &__error-text
        @extend .form__error-text
        &--invalid
            @extend .form__error-text--invalid
    &__content
        margin-top: 1.5rem
        +tablet
            margin-top: 2rem
    