.delivery-comment
    margin-top: 2.3125rem
    +tablet
        margin-top: 3.25rem
    &__title
        @extend .title-6
    &__form
        margin-top: 1.5rem
        position: relative
        .delivery-comment__label-textarea
            position: static
    &__label
        @extend .form__label
        margin-top: 1.25rem
    &__textarea
        @extend .form__textarea
        box-sizing: border-box
        &:focus
            & ~ .delivery-comment__label-text
                @extend .form__label-text--up
    &__label-textarea
        position: relative
    &__label-text
        @extend .form__label-text
        &--up
            @extend .form__label-text--up
    &__checkbox
        +checkbox
    &__checkbox-text
        @extend .text-3
        width: 75%
    &__checkbox-label
        &::before
            top: 50%
            transform: translateY(-50%)
    &__checkbox-svg
        top: 50%
        transform: translateY(-50%) !important