.delivery-date
    margin-top: 2rem
    +tablet
        margin-top: 3.5rem
    &__title
        @extend .title-6
        font-weight: 700
    &__info
        @extend .text-5
        color: $grey
        font-weight: 400
        padding-top: 0.5rem
    &__calendar
        padding-top: 1.5rem
        +tablet
            max-width: 21rem
    input
        height: 2.5rem!important