.delivery-comment
    margin-top: 2.3125rem
    +tablet
        margin-top: 3.125rem
    &__title
        @extend .title-6
    &__form
        margin-top: 1.5rem
    &__label
        @extend .user__label
        margin-top: 1.25rem
    &__label-row
        @extend .user__label_row
    &__checkbox-input
        @extend .user__checkbox-input
    &__checkbox-label
        @extend .user__checkbox-label
    &__checkbox-text
        @extend .user__checkbox-text
    &__textarea
        padding: 0.75rem 1rem
        height: 6.5rem  
        border: 1px solid $border-color
        box-sizing: border-box
        border-radius: 2px