.delivery-date
    margin-top: 2rem
    +tablet
        margin-top: 3.5rem
    &__title
        @extend .title-6
        font-weight: 700
    &__info
        @extend .text-6
        color: $grey
        font-weight: 400
        padding-top: 0.5rem
    &__select
        padding-top: 1.5rem   
        max-width: 21rem