.receive-address
    padding-top: 1rem
    width: 100%
    order: 4
    +tablet
        order: 4

    .select__dropdown
        max-height: 50vh
        overflow-y: scroll
    &__preloaded
        @extend .text-2
        font-weight: 700
        opacity: 0.7