{#
    breadcrumbs: array
        title: string
        url: string
#}
<section class="section">
    <div class="container">
        {% if breadcrumbs|length %}
            <ul class="breadcrumbs">
                {% for item in breadcrumbs %}
                    <li 
                        class="breadcrumbs__item {% if loop.last %} breadcrumbs__item--active{% endif %}{% if loop.revindex == 2 %} breadcrumbs__item--penultimate{% endif %}"
                    >
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        <svg class="breadcrumbs__array">
                            <use xlink:href="{{ templatePath }}images/sprite.svg#arrows__arrow-right-small"></use>
                        </svg>
                        <svg class="breadcrumbs__array breadcrumbs__array_mobile">
                            <use xlink:href="{{ templatePath }}images/sprite.svg#arrows__arrow-right-small-mob"></use>
                        </svg>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>