@import './contacts-head'
@import './contacts-map'
@import './contacts-trade'
    
.contacts
    @extend .container
    margin-top: 1.5rem
    margin-bottom: 9.375rem
    +tablet
        margin-bottom: 12.5rem
    &__title
        @extend .title-3
