.contacts-map
    margin-top: 2rem
    &__title
        @extend .title-6
        font-weight: 700
    &__main
        margin-top: 1.5rem
        & iframe
            width: 100%
            height: 505px
