.contacts-form
    &__title
        @extend .title-7
        font-weight: 700
    &__label
        @extend .form__label
        flex-direction: column
        &_row
            flex-direction: row
    &__label-text
        @extend .form__label-text
        &--up
            @extend .form__label-text--up
    &__input
        @extend .form__input
        &--dots
            @extend .form__input--dots
        &--error
            @extend .input-modal--error
    &__button
        @extend .form__button   
    &__label-icon
        @extend .form__label-icon
    &__error-text
        @extend .form__error-text
        &--invalid
            @extend .form__error-text--invalid
        &--invalid-password
            @extend .form__error-text--invalid-email
    &__textarea
        @extend .form__textarea
        &--error
            border-color: $primary-hover
    &__column
        margin-top: 1.5rem
        .contacts-form__label
            width: 100%
        +tablet
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            .contacts-form__label
                width: calc(100% / 2 - 0.75rem)
    &__stick
        @extend .text-3
        font-weight: 400
        margin-top: 0.5rem
        display: flex
    &__stick-label
        color: $blue
        padding-right: 0.3125rem
        cursor: pointer
        +tablet
            &:hover
                text-decoration: underline
    &__stick-input
        display: none
    &__btn
        @extend .button-primary
        margin-top: 1.5rem
    &__answer
        position: absolute
        width: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        padding: 2rem
        background: #fff
    &__answer-text
        @extend .text-1
        text-align: center
