@import './contacts-head'
@import './contacts-map'
@import './contacts-trade'
    
.contacts
    @extend .container
    margin-top: 1.5rem
    margin-bottom: 9.375rem
    +tablet
        margin-bottom: 12.5rem
    &__title
        @extend .title-3
    &__wrap
        margin-top: 3rem
        width: 100%
        border: 1px solid $border-color_4
        border-radius: 4px
        position: relative
        padding: 1.5rem 1rem
        +tablet
            margin-top: 0
            width: 50%
            padding: 2rem
            border: 1px solid $border-color_4
            border-radius: 4px
            position: relative
