@import './user-tabs'
@import './user-login'
@import './user-reg'
.user
    &__label
        @extend .form__label
        flex-direction: column
        &_row
            flex-direction: row
    &__label-text
        @extend .form__label-text
        &--up
            @extend .form__label-text--up
    &__input
        @extend .form__input
        &--dots
            @extend .form__input--dots
        &--error
            @extend .input-modal--error
    &__button
        @extend .form__button   
    &__label-icon
        @extend .form__label-icon
    &__error-text
        @extend .form__error-text
        &--invalid
            @extend .form__error-text--invalid
        &--invalid-password
            @extend .form__error-text--invalid-email
    &__checkbox
        +checkbox
    &__checkbox-label
        margin-top: .3125rem