@import './user-tabs'
@import './user-login'
@import './user-reg'
.user
    &__label
        @extend .form__label
        flex-direction: column
        &_row
            flex-direction: row
    &__label-text
        @extend .form__label-text
        &_up
            @extend .form__label-text--up
    &__input
        @extend .form__input
        &_dots
            @extend .form__input--dots
        &_error
            @extend .input-modal_error
    &__button
        @extend .form__button   
    &__label-icon
        @extend .form__label-icon
    &__error-text
        @extend .form__error-text
        &_invalid
            @extend .form__error-text--invalid
        &_invalid_password
            @extend .form__error-text--invalid-email

    // &__checkbox
    //     @extend .checkbox
    // &__checkbox-label
    //     @extend .checkbox__label
    //     margin-top: .3125rem
    //     svg
    //         @extend .checkbox__label-svg
    // &__checkbox-text
    //     @extend .checkbox__text

    &__checkbox
        +checkbox
    &__checkbox-label
        margin-top: .3125rem