<div class="product-card">
	<div class="product-card__title">Аккумуляторная бесщеточная дрель-шуруповерт DENZEL BLDL-IB-18-02, Li-Ion, 18 В, 1.5 А*ч, 2 аккумулятора</div>
	<div class="product-card__header">
		<div class="product-card__favorite-btn">
			<component is="in-favorite" :text="true"></component>
		</div>
		<div class="product-card__compare-btn">
            <component is="to-compare" :text="true"></component>
		</div>
		<component is="product-card-article"></component>
	</div>
	<div class="product-card__content">
		<div class="product-card__slider">
            <div class="product-card__slider_header">
                <div class="product-card__stickers">
                    <div class="product-card__stickers_sticker-wrap">
                        <div
                            class="product-card__stickers_sticker product-card__stickers_sticker--new"
                        >
                            <span>Новинка</span>
                        </div>
                    </div>
                    <div class="product-card__stickers_sticker-wrap">
                        <div
                            class="product-card__stickers_sticker product-card__stickers_sticker--promo"
                        >
                            <span>Акция</span>
                        </div>
                    </div>
                </div>
                <div class="product-card__actions">
                    <component is="to-compare"></component>
                    <component is="in-favorite"></component>
                </div>
            </div>
			<component is="product-card-slider"></component>
            <div class="product-card__slider_media">
                <div class="product-card__media-buttons">
                    <div class="product-card__media-buttons_button">
                        <svg>
                            <use :xlink:href="templatePath + 'images/sprite.svg#buttons__play-btn'"></use>
                        </svg>
                    </div>
                    <div class="product-card__media-buttons_button">

                        <svg>
                            <use :xlink:href="templatePath + 'images/sprite.svg#buttons__around-photo'"></use>
                        </svg>
                    </div>
                </div>
            </div>
		</div>
		<div class="product-card__description">
			<div class="product-info">
				<ul class="product-info__list">
					<li class="product-info__item">
						<div class="product-info__name">
							<span>Тип патрона</span>
						</div>
						<div class="product-info__desc">бесключевой одномуфтовый</div>
					</li>
					<li class="product-info__item">
						<div class="product-info__name">
							<span>Число скоростей</span>
						</div>
						<div class="product-info__desc">2</div>
					</li>
					<li class="product-info__item">
						<div class="product-info__name">
							<span>Тип аккумулятора</span>
						</div>
						<div class="product-info__desc">Li-Ion</div>
					</li>
					<li class="product-info__item">
						<div class="product-info__name">
							<span>Емкость аккумулятора</span>
						</div>
						<div class="product-info__desc">1.5 А*ч</div>
					</li>
					<li class="product-info__item">
						<div class="product-info__name">
							<span>Напряжение аккумулятора</span>
						</div>
						<div class="product-info__desc">18 В</div>
					</li>
					<li class="product-info__item">
						<div class="product-info__name">
							<span>Количество
								<br>
								аккумуляторов в комплекте</span>
						</div>
						<div class="product-info__desc">255 мм</div>
					</li>
				</ul>
				<component is="product-info-all"></component>
				<div class="product-info__brand">
					<div class="product-info__brand-logo">
						<img src="./demo_images/product-card/logo.png">
					</div>
					<div class="product-info__brand-shield">
						<img src="./demo_images/product-card/shield.png">
					</div>
				</div>
			</div>
			<div class="product-order">
				<div class="product-order__stock">В наличии</div>
				<div class="product-order__wrapper">
					<ul class="product-order__list">
						<li class="product-order__item product-order__item--retail">
							<p class="product-order__name">Розничная цена</p>
							<div class="product-order__icon">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#icons__info'"></use>
								</svg>
							</div>
							<p class="product-order__price">3 819.27 RON</p>
						</li>
						<li class="product-order__item product-order__item--base">
							<p class="product-order__name">Базовая цена</p>
							<div class="product-order__icon">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#icons__info'"></use>
								</svg>
							</div>
							<p class="product-order__price">3 819.27 RON</p>
						</li>
						<li class="product-order__item product-order__item--discount-green">
							<p class="product-order__name">Скидка 10%</p>
							<div class="product-order__icon">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#icons__info'"></use>
								</svg>
								<div class="product-order__item-tooltip">Информация о скидке</div>
							</div>
							<p class="product-order__price">819.27 RON</p>
						</li>
						<li class="product-order__item product-order__item--discount-blue">
							<p class="product-order__name">Скидка 5%</p>
							<div class="product-order__icon">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#icons__info'"></use>
								</svg>
								<div class="product-order__item-tooltip">Информация о скидке</div>
							</div>
							<p class="product-order__price">19.27 RON</p>
						</li>
						<li class="product-order__item product-order__item--total">
							<p class="product-order__name">Ваша цена</p>
							<div class="product-order__icon">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#icons__info'"></use>
								</svg>
							</div>
							<p class="product-order__price">3 819.27 RON</p>
						</li>
					</ul>
					<component is="add-to-cart"></component>
				</div>
			</div>
		</div>
	</div>
</div>