<div class="slider-cards">
    <div class="slider-cards__title">{{ 'product_card.same_products.title'|trans }}</div>
    <component 
        is="slider-cards"
        :dots="false"
    >
        {% for product in productsSames %}
            <div class="slider-cards__slide">
                <card
                    :change-icon="true"
                    :product="{{ product|json_encode()|e('html_attr') }}"
                >
                    {% include '../partials/card.twig' with {'product': product} %}
                </card>
            </div>
        {% endfor %}
    </component>
</div>