{% extends "../layout.twig" %}

{% block title %}Pages | 10 Бренд{% endblock %}

{% set categories = [
    {
        'title': 'Автомобильный инструмент',
        'url': '',
        'items': 57854,
        'subcategories': [
        {
            'title': 'Аксессуары автомобильные',
            'url': '',
            'items': 7458,
            'subcategories':
            [
                {'title': 'Ареометры', 'url': '', 'items': 587},
                {'title': 'Воронки', 'url': '', 'items': 452},
                {'title': 'Держатели телефонов и планшетов', 'url': '', 'items': 587},
                {'title': 'Знаки аварийной остановки', 'url': '', 'items': 457},
                {'title': 'Канистры для топлива', 'url': '', 'items': 7},
                {'title': 'Компрессоры автомобильные', 'url': '', 'items': 88},
                {'title': 'Органайзеры', 'url': '', 'items': 457},
                {'title': 'Пакеты для шин', 'url': '', 'items': 42},
                {'title': 'Провода стартовые', 'url': '', 'items': 8},
                {'title': 'Резинки багажные', 'url': '', 'items': 75},
                {'title': 'Ремни багажные', 'url': '', 'items': 63},
                {'title': 'Салфетки и губки', 'url': '', 'items': 4578},
                {'title': 'Скребки и водосгоны', 'url': '', 'items': 452},
                {'title': 'Тросы буксировочные', 'url': '', 'items': 452},
                {'title': 'Удобства в автомобиле', 'url': '', 'items': 78},
                {'title': 'Щетки стеклоочистителя', 'url': '', 'items': 785},
                {'title': 'Щетки-сметки', 'url': '', 'items': 563}
            ]
        },
        {
            'title': 'Домкраты',
            'url': '',
            'items': 6548,
            'subcategories':
            [
                {'title': 'Домкраты гидравлические подкатные', 'url': '', 'items': 2587},
                {'title': 'Домкраты гидравлические бутылочные', 'url': '', 'items': 587},
                {'title': 'Домкраты механические бутылочные', 'url': '', 'items': 6},
                {'title': 'Домкраты реечные', 'Домкраты ромбовые', 'url': '', 'items': 4567}
            ],
        },
        {
            'title': 'Пневмоинструмент',
            'url': '',
            'items': 587,
            'subcategories':
            [
                {'title': 'Аксессуары к компрессору', 'url': '', 'items': 587},
                {'title': 'Гвозди для пневмо нейлера', 'url': '', 'items': 587},
                {'title': 'Краскораспылители', 'url': '', 'items': 587,},
                {'title': 'Наборы пневмоинструмента', 'url': '', 'items': 587},
                {'title': 'Нейлеры пневматические', 'url': '', 'items': 587},
                {'title': 'Пистолеты пневматические', 'url': '', 'items': 587},
                {'title': 'Ремкомплекты для краскораспылителей', 'url': '', 'items': 587},
                {'title': 'Скобы для пневмостеплера', 'url': '', 'items': 587},
                {'title': 'Степлеры пневматические', 'url': '', 'items': 587},
                {'title': 'Шланги спиральные', 'url': '', 'items': 587}
            ]
        },
        {'title': 'Пробники автомобильные', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Перчатки', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Растяжки гидравлические', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Специальные приспособления', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Тали', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Поддоны для сбора масла', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Тельферы', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Лебедки автомобильные', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Масленки', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Мебель гаражная', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Моечные машины высокого давления', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Насосы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Поддоны для сбора масла', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Подставки под машину регулируемые', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Прессы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Специальные приспособления', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Трубогибы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Цилиндры гидравлические', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Пробники автомобильные', 'url': '', 'items': 587, 'subcategories': []},
        {'title': 'Подставки под машину регулируемые', 'url': '', 'items': 587, 'subcategories': []},
    ]
    },
    {
        'title': 'Всё для сада',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Садовая техника',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Снегоуборочные машины', 'url': '', 'items': 587},
                    {'title': 'Пилы цепные', 'url': '', 'items': 587},
                    {'title': 'Измельчители', 'url': '', 'items': 587},
                    {'title': 'Моечные машины', 'url': '', 'items': 587},
                    {'title': 'Машины подметательные', 'url': '', 'items': 587},
                    {'title': 'Триммеры', 'url': '', 'items': 587},
                    {'title': 'Газонокосилки', 'url': '', 'items': 587},
                    {'title': 'Культиваторы', 'url': '', 'items': 587},
                    {'title': 'Мотоблоки', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Садовый инвентарь',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Грабли', 'url': '', 'items': 587},
                    {'title': 'Вилы', 'url': '', 'items': 587},
                    {'title': 'Лопаты', 'url': '', 'items': 587},
                    {'title': 'Мётлы', 'url': '', 'items': 587},
                    {'title': 'Серпы', 'url': '', 'items': 587},
                    {'title': 'Тележки пластиковые', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Садовый инструмент',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Буры садовые', 'url': '', 'items': 587},
                    {'title': 'Мелкий', 'url': '', 'items': 587},
                    {'title': 'Мотыги и тяпки', 'url': '', 'items': 587},
                ]
            },
            {'title': 'Садовый декор', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Садовые аксессуары', 'url': '', 'items': 587, 'subcategories': []},
            {
                'title': 'Всё для полива',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Дождевики', 'url': '', 'items': 587},
                    {'title': 'Катушки для шланга', 'url': '', 'items': 587},
                    {'title': 'Лейки садовые', 'url': '', 'items': 587},
                    {'title': 'Опрыскиватели ручные', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Парники и укрывные материалы',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Парники', 'url': '', 'items': 587},
                    {'title': 'Чехлы для растений', 'url': '', 'items': 587},
                    {'title': 'Укрывные материалы', 'url': '', 'items': 587},
                ]
            },
            {'title': 'Обувь и дождевики', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Всё для рассады', 'url': '', 'items': 587, 'subcategories': []}
        ]
    },
    {
        'title': 'Ручной инструмент',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Слесарный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Вортки', 'url': '', 'items': 587},
                    {'title': 'Зажимной', 'url': '', 'items': 587},
                    {'title': 'Зубила', 'url': '', 'items': 587},
                    {'title': 'Отвёртки', 'url': '', 'items': 587},
                    {'title': 'Шилья', 'url': '', 'items': 587},
                    {'title': 'Щётки металлические', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Столярный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Гвоздодёры', 'url': '', 'items': 587},
                    {'title': 'Долота ручные', 'url': '', 'items': 587},
                    {'title': 'Кувалды', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Режущий',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Метчики и плашки', 'url': '', 'items': 587},
                    {'title': 'Бокорезы','Болторезы', 'url': '', 'items': 587},
                    {'title': 'Длинногубцы', 'url': '', 'items': 587},
                    {'title': 'Кабелерезы', 'url': '', 'items': 587},
                    {'title': 'Ножи', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Электромонтажный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Изоленты', 'url': '', 'items': 587},
                    {'title': 'Наборы', 'url': '', 'items': 587},
                    {'title': 'Пробники напряжения контактно-бесконтактные', 'url': '', 'items': 587},
                    {'title': 'Стрипперы', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Измерительный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Пирометры', 'url': '', 'items': 587},
                    {'title': 'Тепловизоры', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Паяльное оборудование',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Канифоль', 'url': '', 'items': 587},
                    {'title': 'Лампы паяльные', 'url': '', 'items': 587},
                    {'title': 'Наборы для выжигания', 'url': '', 'items': 587},
                    {'title': 'Паяльники электрические', 'url': '', 'items': 587},
                ]
            },
        ]
    },
    {
        'title': 'Электроинструмент',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Шуроповёрты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Дрели-шуруповёры аккумуляторные', 'url': '', 'items': 587},
                    {'title': 'Дрели-шуруповёрты сетевые', 'url': '', 'items': 587},
                    {'title': 'Шуруповёрты аккумуляторные', 'url': '', 'items': 587},
                    {'title': 'Шуруповёрты сетевые', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Перфораторы',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'SDS-Max', 'url': '', 'items': 587},
                    {'title': 'SDS-Plus', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Дрели',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Аккумуляторные', 'url': '', 'items': 587},
                    {'title': 'Сетевые', 'url': '', 'items': 587},
                    {'title': 'Дрели-миксеры', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Гайковёрты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Гайковёрты аккумуляторные', 'url': '', 'items': 587},
                    {'title': 'Гайковёрты сетевые', 'url': '', 'items': 587},
                ]
            },
            {
                'title': 'Электролобзики',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Лобзики аккумуляторные', 'url': '', 'items': 587},
                    {'title': 'Лобзики сетевые', 'url': '', 'items': 587},
                ]
            },
            {'title': 'Шлифовальные машины', 'url': '', 'items': 587, 'subcategories':[]},
            {'title': 'Болгарки (УШМ)', 'url': '', 'items': 587, 'subcategories':[]},
            {'title': 'Миксеры строительные', 'url': '', 'items': 587, 'subcategories':[]},
        ]
    },
    {
        'title': 'Крепежный инструмент',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Аксессуары автомобильные',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Ареометры', 'url': '', 'items': 587,},
                    {'title': 'Воронки', 'url': '', 'items': 587,},
                    {'title': 'Держатели телефонов и планшетов', 'url': '', 'items': 587,},
                    {'title': 'Знаки аварийной остановки', 'url': '', 'items': 587,},
                    {'title': 'Канистры для топлива', 'url': '', 'items': 587,},
                    {'title': 'Компрессоры автомобильные', 'url': '', 'items': 587,},
                    {'title': 'Органайзеры', 'url': '', 'items': 587,},
                    {'title': 'Пакеты для шин', 'url': '', 'items': 587,},
                    {'title': 'Провода стартовые', 'url': '', 'items': 587,},
                    {'title': 'Резинки багажные', 'url': '', 'items': 587,},
                    {'title': 'Ремни багажные', 'url': '', 'items': 587,},
                    {'title': 'Салфетки и губки', 'url': '', 'items': 587,},
                    {'title': 'Скребки и водосгоны', 'url': '', 'items': 587,},
                    {'title': 'Тросы буксировочные', 'url': '', 'items': 587,},
                    {'title': 'Удобства в автомобиле', 'url': '', 'items': 587,},
                    {'title': 'Щетки стеклоочистителя', 'url': '', 'items': 587,},
                    {'title': 'Щетки-сметки', 'url': '', 'items': 587,}
                ]
            },
            {
                'title': 'Домкраты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Домкраты гидравлические подкатные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты гидравлические бутылочные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты механические бутылочные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты реечные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты ромбовые', 'url': '', 'items': 587,}
                ],
            },
            {
                'title': 'Пневмоинструмент',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Аксессуары к компрессору', 'url': '', 'items': 587,},
                    {'title': 'Гвозди для пневмо нейлера', 'url': '', 'items': 587,},
                    {'title': 'Краскораспылители', 'url': '', 'items': 587,},
                    {'title': 'Наборы пневмоинструмента', 'url': '', 'items': 587,},
                    {'title': 'Нейлеры пневматические', 'url': '', 'items': 587,},
                    {'title': 'Пистолеты пневматические', 'url': '', 'items': 587,},
                    {'title': 'Ремкомплекты для краскораспылителей', 'url': '', 'items': 587,},
                    {'title': 'Скобы для пневмостеплера', 'url': '', 'items': 587,},
                    {'title': 'Степлеры пневматические', 'url': '', 'items': 587,},
                    {'title': 'Шланги спиральные', 'url': '', 'items': 587,}
                ]
            },
            {'title': 'Пробники автомобильные', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Перчатки', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Растяжки гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Специальные приспособления', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Тали', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Тельферы', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Лебедки автомобильные', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Масленки', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Мебель гаражная', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Моечные машины высокого давления', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Насосы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Прессы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Специальные приспособления', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Трубогибы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Цилиндры гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Пробники автомобильные', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'items': 587, 'url': '', 'subcategories': []},
        ]
    },
    {
        'title': 'Садовый инвентарь',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Садовая техника',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Снегоуборочные машины', 'url': '', 'items': 587,},
                    {'title': 'Пилы цепные', 'url': '', 'items': 587,},
                    {'title': 'Измельчители', 'url': '', 'items': 587,},
                    {'title': 'Моечные машины', 'url': '', 'items': 587,},
                    {'title': 'Машины подметательные', 'url': '', 'items': 587,},
                    {'title': 'Триммеры', 'url': '', 'items': 587,},
                    {'title': 'Газонокосилки', 'url': '', 'items': 587,},
                    {'title': 'Культиваторы', 'url': '', 'items': 587,},
                    {'title': 'Мотоблоки', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Садовый инвентарь',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Грабли', 'url': '', 'items': 587,},
                    {'title': 'Вилы', 'url': '', 'items': 587,},
                    {'title': 'Лопаты', 'url': '', 'items': 587,},
                    {'title': 'Мётлы', 'url': '', 'items': 587,},
                    {'title': 'Серпы', 'url': '', 'items': 587,},
                    {'title': 'Тележки пластиковые', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Садовый инструмент',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Буры садовые', 'url': '', 'items': 587,},
                    {'title': 'Мелкий', 'url': '', 'items': 587,},
                    {'title': 'Мотыги и тяпки', 'url': '', 'items': 587,},
                ]
            },
            {'title': 'Садовый декор', 'url': '', 'items': 587, 'subcategories':[]},
            {'title': 'Садовые аксессуары', 'url': '', 'items': 587, 'subcategories':[]},
            {
                'title': 'Всё для полива',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Дождевики', 'url': '', 'items': 587,},
                    {'title': 'Катушки для шланга', 'url': '', 'items': 587,},
                    {'title': 'Лейки садовые', 'url': '', 'items': 587,},
                    {'title': 'Опрыскиватели ручные', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Парники и укрывные материалы',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Парники', 'url': '', 'items': 587,},
                    {'title': 'Чехлы для растений', 'url': '', 'items': 587,},
                    {'title': 'Укрывные материалы', 'url': '', 'items': 587,},
                ]
            },
            {'title': 'Обувь и дождевики', 'url': '', 'items': 587, 'subcategories':[]},
            {'title': 'Всё для рассады', 'url': '', 'items': 587, 'subcategories':[]}
        ]
    },
    {
        'title': 'Режущий инструмент',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Шуроповёрты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Дрели-шуруповёры аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Дрели-шуруповёрты сетевые', 'url': '', 'items': 587,},
                    {'title': 'Шуруповёрты аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Шуруповёрты сетевые', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Перфораторы',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'SDS-Max', 'url': '', 'items': 587,},
                    {'title': 'SDS-Plus', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Дрели',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Сетевые', 'url': '', 'items': 587,},
                    {'title': 'Дрели-миксеры', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Гайковёрты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Гайковёрты аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Гайковёрты сетевые', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Электролобзики',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Лобзики аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Лобзики сетевые', 'url': '', 'items': 587,},
                ]
            },
            {'title': 'Шлифовальные машины', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Болгарки (УШМ)', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Миксеры строительные', 'url': '', 'items': 587, 'subcategories': []},
        ]
    },
    {
        'title': 'Отделочный инструмент',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Слесарный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Вортки', 'url': '', 'items': 587,},
                    {'title': 'Зажимной', 'url': '', 'items': 587,},
                    {'title': 'Зубила', 'url': '', 'items': 587,},
                    {'title': 'Отвёртки', 'url': '', 'items': 587,},
                    {'title': 'Шилья', 'url': '', 'items': 587,},
                    {'title': 'Щётки металлические', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Столярный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Гвоздодёры', 'url': '', 'items': 587,},
                    {'title': 'Долота ручные', 'url': '', 'items': 587,},
                    {'title': 'Кувалды', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Режущий',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Метчики и плашки', 'url': '', 'items': 587,},
                    {'title': 'Бокорезы', 'url': '', 'items': 587,},
                    {'title': 'Болторезы', 'url': '', 'items': 587,},
                    {'title': 'Длинногубцы', 'url': '', 'items': 587,},
                    {'title': 'Кабелерезы', 'url': '', 'items': 587,},
                    {'title': 'Ножи', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Электромонтажный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Изоленты', 'url': '', 'items': 587,},
                    {'title': 'Наборы', 'url': '', 'items': 587,},
                    {'title': 'Пробники напряжения контактно-бесконтактные', 'url': '', 'items': 587,},
                    {'title': 'Стрипперы', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Измерительный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Пирометры', 'url': '', 'items': 587,},
                    {'title': 'Тепловизоры', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Паяльное оборудование',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Канифоль', 'url': '', 'items': 587,},
                    {'title': 'Лампы паяльные', 'url': '', 'items': 587,},
                    {'title': 'Наборы для выжигания', 'url': '', 'items': 587,},
                    {'title': 'Паяльники электрические', 'url': '', 'items': 587,},
                ]
            },
        ]
    },
    {
        'title': 'Силовое оборудование',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Аксессуары автомобильные',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Ареометры', 'url': '', 'items': 587,},
                    {'title': 'Воронки', 'url': '', 'items': 587,},
                    {'title': 'Держатели телефонов и планшетов', 'url': '', 'items': 587,},
                    {'title': 'Знаки аварийной остановки', 'url': '', 'items': 587,},
                    {'title': 'Канистры для топлива', 'url': '', 'items': 587,},
                    {'title': 'Компрессоры автомобильные', 'url': '', 'items': 587,},
                    {'title': 'Органайзеры', 'url': '', 'items': 587,},
                    {'title': 'Пакеты для шин', 'url': '', 'items': 587,},
                    {'title': 'Провода стартовые', 'url': '', 'items': 587,},
                    {'title': 'Резинки багажные', 'url': '', 'items': 587,},
                    {'title': 'Ремни багажные', 'url': '', 'items': 587,},
                    {'title': 'Салфетки и губки', 'url': '', 'items': 587,},
                    {'title': 'Скребки и водосгоны', 'url': '', 'items': 587,},
                    {'title': 'Тросы буксировочные', 'url': '', 'items': 587,},
                    {'title': 'Удобства в автомобиле', 'url': '', 'items': 587,},
                    {'title': 'Щетки стеклоочистителя', 'url': '', 'items': 587,},
                    {'title': 'Щетки-сметки', 'url': '', 'items': 587,}
                ]
            },
            {
                'title': 'Домкраты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Домкраты гидравлические подкатные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты гидравлические бутылочные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты механические бутылочные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты реечные', 'url': '', 'items': 587,},
                    {'title': 'Домкраты ромбовые', 'url': '', 'items': 587,}
                ],
            },
            {
                'title': 'Пневмоинструмент',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Аксессуары к компрессору', 'url': '', 'items': 587,},
                    {'title': 'Гвозди для пневмо нейлера', 'url': '', 'items': 587,},
                    {'title': 'Краскораспылители', 'url': '', 'items': 587,},
                    {'title': 'Наборы пневмоинструмента', 'url': '', 'items': 587,},
                    {'title': 'Нейлеры пневматические', 'url': '', 'items': 587,},
                    {'title': 'Пистолеты пневматические', 'url': '', 'items': 587,},
                    {'title': 'Ремкомплекты для краскораспылителей', 'url': '', 'items': 587,},
                    {'title': 'Скобы для пневмостеплера', 'url': '', 'items': 587,},
                    {'title': 'Степлеры пневматические', 'url': '', 'items': 587,},
                    {'title': 'Шланги спиральные', 'url': '', 'items': 587,}
                ]
            },
            {'title': 'Пробники автомобильные', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Перчатки', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Растяжки гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Специальные приспособления', 'items': 587, 'url': '', 'subcategories': []},
            {'title': 'Тали', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Тельферы', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Лебедки автомобильные', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Масленки', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Мебель гаражная', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Моечные машины высокого давления', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Насосы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Прессы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Специальные приспособления', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Трубогибы гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Цилиндры гидравлические', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Пробники автомобильные', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'url': '', 'items': 587, 'subcategories': []},
        ]
    },
    {
        'title': 'Средства индивидуальной защиты',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Садовая техника',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Снегоуборочные машины', 'url': '', 'items': 587,},
                    {'title': 'Пилы цепные', 'url': '', 'items': 587,},
                    {'title': 'Измельчители', 'url': '', 'items': 587,},
                    {'title': 'Моечные машины', 'url': '', 'items': 587,},
                    {'title': 'Машины подметательные', 'url': '', 'items': 587,},
                    {'title': 'Триммеры', 'url': '', 'items': 587,},
                    {'title': 'Газонокосилки', 'url': '', 'items': 587,},
                    {'title': 'Культиваторы', 'url': '', 'items': 587,},
                    {'title': 'Мотоблоки', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Садовый инвентарь',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Грабли', 'url': '', 'items': 587,},
                    {'title': 'Вилы', 'url': '', 'items': 587,},
                    {'title': 'Лопаты', 'url': '', 'items': 587,},
                    {'title': 'Мётлы', 'url': '', 'items': 587,},
                    {'title': 'Серпы', 'url': '', 'items': 587,},
                    {'title': 'Тележки пластиковые', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Садовый инструмент',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Буры садовые', 'url': '', 'items': 587,},
                    {'title': 'Мелкий', 'url': '', 'items': 587,},
                    {'title': 'Мотыги и тяпки', 'url': '', 'items': 587,},
                ]
            },
            {'title': 'Садовый декор', 'url': '', 'items': 587, 'subcategories': [],},
            {'title': 'Садовые аксессуары', 'url': '', 'items': 587, 'subcategories': []},
            {
                'title': 'Всё для полива',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Дождевики', 'url': '', 'items': 587,},
                    {'title': 'Катушки для шланга', 'url': '', 'items': 587,},
                    {'title':  'Лейки садовые', 'url': '', 'items': 587,},
                    {'title': 'Опрыскиватели ручные', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Парники и укрывные материалы',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Парники', 'url': '', 'items': 587,},
                    {'title': 'Чехлы для растений', 'url': '', 'items': 587,},
                    {'title': 'Укрывные материалы', 'url': '', 'items': 587,},
                ]
            },
            {'title': 'Обувь и дождевики', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Всё для рассады', 'url': '', 'items': 587, 'subcategories': []}
        ]
    },
    {
        'title': 'Товары первой необходимости',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Слесарный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Вортки', 'url': '', 'items': 587,},
                    {'title': 'Зажимной', 'url': '', 'items': 587,},
                    {'title': 'Зубила', 'url': '', 'items': 587,},
                    {'title': 'Отвёртки', 'url': '', 'items': 587,},
                    {'title': 'Шилья', 'url': '', 'items': 587,},
                    {'title': 'Щётки металлические', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Столярный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Гвоздодёры', 'url': '', 'items': 587,},
                    {'title': 'Долота ручные', 'url': '', 'items': 587,},
                    {'title': 'Кувалды', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Режущий',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Метчики и плашки', 'url': '', 'items': 587,},
                    {'title': 'Бокорезы', 'url': '', 'items': 587,},
                    {'title': 'Болторезы', 'url': '', 'items': 587,},
                    {'title': 'Длинногубцы', 'url': '', 'items': 587,},
                    {'title': 'Кабелерезы', 'url': '', 'items': 587,},
                    {'title': 'Ножи', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Электромонтажный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Изоленты', 'url': '', 'items': 587,},
                    {'title': 'Наборы', 'url': '', 'items': 587,},
                    {'title': 'Пробники напряжения контактно-бесконтактные', 'url': '', 'items': 587,},
                    {'title': 'Стрипперы', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Измерительный',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Пирометры', 'url': '', 'items': 587,},
                    {'title': 'Тепловизоры', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Паяльное оборудование',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Канифоль', 'url': '', 'items': 587,},
                    {'title': 'Лампы паяльные', 'url': '', 'items': 587,},
                    {'title': 'Наборы для выжигания', 'url': '', 'items': 587,},
                    {'title': 'Паяльники электрические', 'url': '', 'items': 587,},
                ]
            },
        ]
    },
    {
        'title': 'Прочий инструмент',
        'url': '',
        'items': 587,
        'subcategories':
        [
            {
                'title': 'Шуроповёрты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Дрели-шуруповёры аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Дрели-шуруповёрты сетевые', 'url': '', 'items': 587,},
                    {'title': 'Шуруповёрты аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Шуруповёрты сетевые', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Перфораторы',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'SDS-Max', 'url': '', 'items': 587,},
                    {'title': 'SDS-Plus', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Дрели',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Сетевые', 'url': '', 'items': 587,},
                    {'title': 'Дрели-миксеры', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Гайковёрты',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Гайковёрты аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Гайковёрты сетевые', 'url': '', 'items': 587,},
                ]
            },
            {
                'title': 'Электролобзики',
                'url': '',
                'items': 587,
                'subcategories':
                [
                    {'title': 'Лобзики аккумуляторные', 'url': '', 'items': 587,},
                    {'title': 'Лобзики сетевые', 'url': '', 'items': 587,},
                ]
            },
            {'title': 'Шлифовальные машины', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Болгарки (УШМ)', 'url': '', 'items': 587, 'subcategories': []},
            {'title': 'Миксеры строительные', 'url': '', 'items': 587, 'subcategories': []},
        ]
    }
] %}

{% set listingCategories = [
    {
        'title': 'Автомобильный инструмент',
        'url': '',
        'subcategories': [
            {
                'title': 'Аксессуары автомобильные',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Ареометры', 'url': '', 'checked': true},
                    {'title': 'Воронки', 'url': '', 'checked': falce},
                    {'title': 'Держатели телефонов и планшетов', 'url': '', 'checked': falce},
                    {'title': 'Знаки аварийной остановки', 'url': '', 'checked': falce},
                    {'title': 'Канистры для топлива', 'url': '', 'checked': falce},
                    {'title': 'Компрессоры автомобильные', 'url': '', 'checked': falce},
                    {'title': 'Органайзеры', 'url': '', 'checked': falce},
                    {'title': 'Пакеты для шин', 'url': '', 'checked': falce},
                    {'title': 'Провода стартовые', 'url': '', 'checked': falce},
                    {'title': 'Резинки багажные', 'url': '', 'checked': falce},
                    {'title': 'Ремни багажные', 'url': '', 'checked': falce},
                    {'title': 'Салфетки и губки', 'url': '', 'checked': falce},
                    {'title': 'Скребки и водосгоны', 'url': '', 'checked': falce},
                    {'title': 'Тросы буксировочные', 'url': '', 'checked': falce},
                    {'title': 'Удобства в автомобиле', 'url': '', 'checked': falce},
                    {'title': 'Щетки стеклоочистителя', 'url': '', 'checked': falce},
                    {'title': 'Щетки-сметки', 'url': '',}
                ]
            },
            {
                'title': 'Домкраты',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Домкраты гидравлические подкатные', 'url': '', 'checked': falce},
                    {'title': 'Домкраты гидравлические бутылочные', 'url': '', 'checked': falce},
                    {'title': 'Домкраты механические бутылочные', 'url': '', 'checked': falce},
                    {'title': 'Домкраты реечные', 'Домкраты ромбовые', 'url': '', 'checked': falce}
                ],
            },
            {
                'title': 'Пневмоинструмент',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Аксессуары к компрессору', 'url': '', 'checked': falce},
                    {'title': 'Гвозди для пневмо нейлера', 'url': '', 'checked': falce},
                    {'title': 'Краскораспылители', 'url': '', 'checked': falce},
                    {'title': 'Наборы пневмоинструмента', 'url': '', 'checked': falce},
                    {'title': 'Нейлеры пневматические', 'url': '', 'checked': falce},
                    {'title': 'Пистолеты пневматические', 'url': '', 'checked': falce},
                    {'title': 'Ремкомплекты для краскораспылителей', 'url': '', 'checked': falce},
                    {'title': 'Скобы для пневмостеплера', 'url': '', 'checked': falce},
                    {'title': 'Степлеры пневматические', 'url': '', 'checked': falce},
                    {'title': 'Шланги спиральные', 'url': '', 'checked': falce}
                ]
            },
            {'title': 'Пробники автомобильные', 'url': '', 'subcategories': []},
            {'title': 'Перчатки', 'url': '', 'subcategories': []},
            {'title': 'Растяжки гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Специальные приспособления', 'url': '', 'subcategories': []},
            {'title': 'Тали', 'url': '', 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'subcategories': []},
            {'title': 'Тельферы', 'url': '', 'subcategories': []},
            {'title': 'Лебедки автомобильные', 'url': '', 'subcategories': []},
            {'title': 'Масленки', 'url': '', 'subcategories': []},
            {'title': 'Мебель гаражная', 'url': '', 'subcategories': []},
            {'title': 'Моечные машины высокого давления', 'url': '', 'subcategories': []},
            {'title': 'Насосы гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'url': '', 'subcategories': []},
            {'title': 'Прессы гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Специальные приспособления', 'url': '', 'subcategories': []},
            {'title': 'Трубогибы гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Цилиндры гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Пробники автомобильные', 'url': '', 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'url': '', 'subcategories': []},
        ]
    },
    {
        'title': 'Всё для сада',
        'url': '',
        'subcategories': 
        [
            {
                'title': 'Садовая техника',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Снегоуборочные машины', 'url': '', 'checked': falce},
                    {'title': 'Пилы цепные', 'url': '', 'checked': falce},
                    {'title': 'Измельчители', 'url': '', 'checked': falce},
                    {'title': 'Моечные машины', 'url': '', 'checked': falce},
                    {'title': 'Машины подметательные', 'url': '', 'checked': falce},
                    {'title': 'Триммеры', 'url': '', 'checked': falce},
                    {'title': 'Газонокосилки', 'url': '', 'checked': falce},
                    {'title': 'Культиваторы', 'url': '', 'checked': falce},
                    {'title': 'Мотоблоки', 'url': '', 'checked': falce}, 
                ]
            },
            {
                'title': 'Садовый инвентарь',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Грабли', 'url': '', 'checked': falce},
                    {'title': 'Вилы', 'url': '', 'checked': falce},
                    {'title': 'Лопаты', 'url': '', 'checked': falce},
                    {'title': 'Мётлы', 'url': '', 'checked': falce},
                    {'title': 'Серпы', 'url': '', 'checked': falce},
                    {'title': 'Тележки пластиковые', 'url': '', 'checked': falce},
                ]
            },
            {
                'title': 'Садовый инструмент',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Буры садовые', 'url': '', 'checked': falce},
                    {'title': 'Мелкий', 'url': '', 'checked': falce},
                    {'title': 'Мотыги и тяпки', 'url': '', 'checked': falce},
                ]
            },
            {'title': 'Садовый декор', 'url': '', 'subcategories': []},
            {'title': 'Садовые аксессуары', 'url': '', 'subcategories': []},
            {
                'title': 'Всё для полива',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Дождевики', 'url': '', 'checked': falce},
                    {'title': 'Катушки для шланга', 'url': '', 'checked': falce},
                    {'title': 'Лейки садовые', 'url': '', 'checked': falce},
                    {'title': 'Опрыскиватели ручные', 'url': '', 'checked': falce},
                ]
            },
            {
                'title': 'Парники и укрывные материалы',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Парники', 'url': '', 'checked': falce},
                    {'title': 'Чехлы для растений', 'url': '', 'checked': falce},
                    {'title': 'Укрывные материалы', 'url': '', 'checked': falce},
                ]
            },
            {'title': 'Обувь и дождевики', 'url': '', 'subcategories': []},
            {'title': 'Всё для рассады', 'url': '', 'subcategories': []}
        ]
    },
    {
        'title': 'Ручной инструмент',
        'url': '',
        'subcategories': 
        [
            {
                'title': 'Слесарный',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Вортки', 'url': '', 'checked': falce},
                    {'title': 'Зажимной', 'url': '', 'checked': falce},
                    {'title': 'Зубила', 'url': '', 'checked': falce},
                    {'title': 'Отвёртки', 'url': '', 'checked': falce},
                    {'title': 'Шилья', 'url': '', 'checked': falce},
                    {'title': 'Щётки металлические', 'url': '', 'checked': falce},
                ]
            },
            {
                'title': 'Столярный',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Гвоздодёры', 'url': '', 'checked': falce},
                    {'title': 'Долота ручные', 'url': '', 'checked': falce},
                    {'title': 'Кувалды', 'url': '', 'checked': falce},
                ]
            },
            {
                'title': 'Режущий',
                'url': '',
                'subcategories': 
                [
                    {'title': 'Метчики и плашки', 'url': '', 'checked': falce},
                    {'title': 'Бокорезы','Болторезы', 'url': '', 'checked': falce},
                    {'title': 'Длинногубцы', 'url': '', 'checked': falce},
                    {'title': 'Кабелерезы', 'url': '', 'checked': falce},
                    {'title': 'Ножи', 'url': '', 'checked': falce},
                ]
            },
        ]
    },
    {
        'title': 'Крепежный инструмент',
        'url': '',
        'subcategories': 
        [
            {'title': 'Аксессуары автомобильные', 'url': '', 'subcategories': []},
            {'title': 'Домкраты', 'url': '', 'subcategories':  [],},
            {'title': 'Пневмоинструмент', 'url': '', 'subcategories': []},
            {'title': 'Пробники автомобильные', 'url': '', 'subcategories': []},
            {'title': 'Перчатки', 'url': '', 'subcategories': []},
            {'title': 'Растяжки гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Специальные приспособления', 'url': '', 'subcategories': []},
            {'title': 'Тали', 'url': '', 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'subcategories': []},
            {'title': 'Тельферы', 'url': '', 'subcategories': []},
            {'title': 'Лебедки автомобильные', 'url': '', 'subcategories': []},
            {'title': 'Масленки', 'url': '', 'subcategories': []},
            {'title': 'Мебель гаражная', 'url': '', 'subcategories': []},
            {'title': 'Моечные машины высокого давления', 'url': '', 'subcategories': []},
            {'title': 'Насосы гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Поддоны для сбора масла', 'url': '', 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'url': '', 'subcategories': []},
            {'title': 'Прессы гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Специальные приспособления', 'url': '', 'subcategories': []},
            {'title': 'Трубогибы гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Цилиндры гидравлические', 'url': '', 'subcategories': []},
            {'title': 'Пробники автомобильные', 'url': '', 'subcategories': []},
            {'title': 'Подставки под машину регулируемые', 'url': '', 'subcategories': []},
        ]
    },
    {
        'title': 'Садовый инвентарь',
        'url': '',
        'subcategories': 
        [
            {'title': 'Садовая техника', 'url': '', 'subcategories': []},
            {'title': 'Садовый инвентарь', 'url': '', 'subcategories': []},
            {'title': 'Садовый инструмент', 'url': '', 'subcategories': []},
            {'title': 'Садовый декор', 'url': '', 'subcategories':[]},
            {'title': 'Садовые аксессуары', 'url': '', 'subcategories':[]},
            {'title': 'Обувь и дождевики', 'url': '', 'subcategories':[]},
            {'title': 'Всё для рассады', 'url': '', 'subcategories':[]}
        ]
    },
] %}

{% set countries = [
    {title: 'Белоруссия', url: ''},
    {title: 'Болгария', url: ''},
    {title: 'Венгрия', url: ''},
    {title: 'Казахстан', url: ''},
    {title: 'Польша', url: ''},
    {title: 'Россия', url: ''},
    {title: 'Румыния', url: ''},
    {title: 'США', url: ''},
    {title: 'Украина', url: ''}
] %}

{% set user = {
    'name' : 'Ivan',
    'last_name' : 'Sidorov',
    'personType': 2,
    'authorized': true,
}%}

{% set sort_types = [
    {
        'label': 'По популярности',
        'value': 'popular'
    },
    {
        'label': 'По скидке',
        'value': 'discount'
    },
    {
        'label': 'По убыванию цены',
        'value': 'price_desc'
    }
] %}

{% set sort_type = {
    'label': 'По популярности',
    'value': 'popular'
} %}

{% set view_type = 'gridview' %}

{% set shields = [
    'Лебедки автомобильные', 'Масленки', 'Мебель гаражная', 'Моечные машины высокого давления', 'Домкраты', 'Насосы гидравлические', 'Аксессуары автомобильные', 'Перчатки', 'Поддоны для сбора масла', 'Подставки под машину регулируемые', 'Прессы гидравлические', 'Пробники автомобильные', 'Растяжки гидравлические', 'Пневмоинструмент', 'Тали',
] %}

{% set filters = {
    'page_count': 20,
    'sort': 'popular',
    'match': '13',
    'section_id': 178500,
    'hash': 'JnnUHIo**(&87868HHkjYUI@wewe',
    'filters': [
        {
            title: "Цена",
            code: "price_base",
            type: "range",
            values: {
                min: 1,
                max: 100,
                from: 1,
                to: 100
            },

        },
        {
            title: "Бренд",
            code: "brand",
            type: "checkbox",
            values: [
                {
                    title: "Denzel",
                    value: "denzel",
                    checked: false,
                    available: true,
                    count: 7
                },
                {
                    title: "Сибртех",
                    value: "sibteh",
                    checked: false,
                    available: true,
                    count: 6
                },
                {
                    title: "Gross",
                    value: "gross",
                    checked: false,
                    available: true,
                    count: 7
                },
                {
                    title: "Matrix",
                    value: "matrix",
                    checked: false,
                    available: true,
                    count: 6
                },
                {
                    title: "Stels",
                    value: "stels",
                    checked: false,
                    available: true,
                    count: 5
                },
                {
                    title: "Sparta",
                    value: "sparta",
                    checked: false,
                    available: true,
                    count: 6
                },
                {
                    title: "Russia",
                    value: "russia",
                    checked: false,
                    available: true,
                    count: 7
                },
            ]
        },
        {
            title: "Тип скидки",
            code: "sale_type",
            type: "checkbox",
            values: [
                {
                    title: "Силовое без скидки",
                    value: "sale_1",
                    checked: false,
                    available: true,
                    count: 2
                },
                {
                    title: "Силовое",
                    value: "sale_2",
                    checked: false,
                    available: true,
                    count: 1
                },
                {
                    title: "Россия без скидки",
                    value: "sale_3",
                    checked: false,
                    available: true,
                    count: 3
                },
                {
                    title: "Импорт без скидки",
                    value: "sale_4",
                    checked: false,
                    available: true,
                    count: 4
                },
            ]
        },
        {
            title: "Наличие товара",
            code: "classifier_again",
            type: "checkbox",
            values: []
        },
        {
            title: "",
            code: "switch_toggle",
            type: "switch",
            values: [
                {
                    title: "Бестселлеры",
                    value: "bestsellers",
                    checked: false
                },
                {
                    title: "Новинки",
                    value: "news",
                    checked: false
                },
            ]

        },
    ]
}
%}

{% set products = [
    {
        'id': 1,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 2,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 3,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 4,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 5,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 6,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 551,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 552,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 553,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 554,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 555,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 556,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 51,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 52,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 53,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
    {
        'id': 54,
        'title': 'Trimmer pe benzina GT-52S, multifunctional, 52 сс, 3 cp, tija din 2 parti//Denzel',
        'link': '',
        'code': 717950,
        'available': true,
        'stock': 100,
        'oldPrice': 3819,
        'newPrice': 2819,
        'is_favorite': false,
        'is_compare': false,
        'images': [
        {id: 1, img: './demo_images/product/image_50.png'},
        {id: 2, img: './demo_images/product/image_51.png'},
        {id: 3, img: './demo_images/product/image_52.png'},
        {id: 4, img: './demo_images/product/image_53.png'},
    ],
        'tooltips': [
        {
            'id': 1,
            'title': 'Новинка',
            'text': 'Товар находится в акционной категории товаров “Новинка”',
            'link': '',
            'status': 'new',
        },
        {
            'id': 2,
            'title': 'Акция',
            'text': 'Товар участвует в акции “Акция”',
            'link': '',
            'status': 'promo',
        },
    ]
    },
] %}
    
{% set pagination = {
    'total': 106,
    'current': 3,
    'url_previous': '/some/category/page/2',
    'url_next': '/some/category/page/4',
    'url_last': '/some/category/page/last',
    'urls': 
    [
        {title: '1', url: '/some/category/page/1'},
        {title: '2', url: '/some/category/page/2'},
        {title: '3', url: ''},
        {title: '4', url: '/some/category/page/4'},
    ]
} %}


{% set brand = 
    {
        title: 'Denzel',
        img: './demo_images/brands/denzel.png',
        category:'ЭЛЕКТРОИНСТРУМЕНТ',
        description: '<ul>
                        <li>
                            <p>
                                Продукция торговой марки Denzel — это надежное силовое оборудование по разумной цене, не уступающее в качестве образцам именитых брендов
                            </p>
                        </li>
                        <li>
                            <p>
                                Denzel предлагает взвешенные, практичные решения, полностью соответствующие заявленной ценовой категории. Это техника для реальной жизни, которая будет верным помощником в быту и строительстве
                            </p>
                        </li>
                        <li>
                            <p>
                                Ассортимент торговой марки Denzel включает широкий спектр силового оборудования
                            </p>
                        </li>
                        <li>
                            <p>
                                Оборудование предназначено для владельцев частных домов, садоводов и фермеров, DIY-мастеров и профессиональных строителей, автолюбителей и специалистов автосервисов
                            </p>
                        </li>
                    </ul>'
    }


%}


{% block content %}

    {% include '../../../templates/header/header.twig' with {
        'categories': categories, 
        'user': user,
        'activeCountry': 'Россия',
    } %}
    {% include '../../../templates/breadcrumbs.twig' with {
        'breadcrumbs': [
            {
                'title': 'Главная',
                'url': '/'
            },
            {
                'title': 'Бренды',
                'url': '/brends/'
            },
            {
                'title': 'Denzel',
                'url': '/Denzel/'
            },
        ]
    } %}
    {% include '../../../templates/brands/page-brand.twig' with {'brand': brand} %}
    {% include '../../../templates/listing/listing.twig' with {
        'products': products,
        'sort_types': sort_types,
        'sort_type': sort_type,
        'shields': shields,
        'listingCategories': listingCategories[0],
        'listingCategoryTitle': listingCategories[0].title,
        'filters': filters,
        'view_type': view_type,
        'pagination': pagination,
        'titleFlag': true 
    } %}
    {% include '../../../templates/footer/footer.twig'  with {
        'countries': countries,
        'activeCountry': 'Россия',
        'user': user,
        'phone_mask': '+7 (F##) ###-##-##',
    } %}
    
{% endblock %}