.modal
    position: fixed
    top: 0
    width: 100%
    height: 100vh
    z-index: 20
    &-bg
        width: 100%
        height: 100vh
        background: rgba($black, .72)
    &-wrapper
        position: absolute
        background: #ffffff
        width: 24.3125rem
        padding: 2rem 2.5rem 2.5rem 2.5rem
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        &--big
            width: 90%
            max-height: 90%
            padding: 64px 16px 85px
            +desktop
                padding: 56px
            .modal__close
                top: 38px
                right: 16px
                +desktop
                    top: 56px
                    right: 56px
    &-title
        @extend .title-2
        font-size: 1.25rem
    &-text
        @extend .text-1
        padding-top: 1.5rem
    &-btn
        @extend .button-catalogue
        margin: 2rem auto 0
    &__close
        position: absolute
        top: 2.5rem
        right: 2rem
        +flex-container-center
        cursor: pointer
        span
            margin-right: 16px
            color: $grey
            +mobile
                display: none
        &-icon
            width: $size_12
            height: $size_12
            fill: #999
            &--black
                width: $size_12
                height: $size_12
                fill: #999
                +desktop
                    fill: $icon-black
                    width: 16px
                    height: 16px
    &__video
        margin: 0 auto
        width: 80%
        iframe
            width: 100%
            height: 500px
                
        

