.modal
    position: fixed
    top: 0
    width: 100%
    height: 100vh
    z-index: 20
    &-bg
        width: 100%
        height: 100vh
        background: rgba($black, .72)
    &-wrapper
        width: 100%
        height: 100%
        position: absolute
        background: #ffffff
        padding: 2rem 2.5rem 2.5rem 2.5rem
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        +desktop
            width: 24.3125rem
            height: auto
        &_big
            padding: 64px 16px 85px
            +desktop
                width: 90%
                max-height: 90%
                padding: 56px
            .modal__close
                top: 38px
                right: 16px
                +desktop
                    top: 56px
                    right: 56px
        &_profile
            padding: 0 1rem
    &-title
        @extend .title-2
        font-size: 1.25rem
        &_centered
            +tablet
                text-align: center
        &_
    &-text
        @extend .text-1
        padding-top: 1.5rem
        +tablet-only
            text-align: center
    &-btn
        @extend .button-modal
        margin: 2rem auto 0
    &__close
        position: absolute
        top: 14px
        right: 14px
        +flex-container-center
        cursor: pointer
        span
            margin-right: 16px
            color: $grey
            +mobile
                display: none
        &-icon
            width: $size_12
            height: $size_12
            fill: $light-grey
            &:hover
                fill: $icon-grey
            &--black
                width: $size_12
                height: $size_12
                fill: $light-grey
                +desktop
                    fill: $icon-black
                    width: 16px
                    height: 16px
    &__video
        margin: 0 auto
        width: 80%
        iframe
            width: 100%
            height: 500px
    &_profile-edit
        .modal-title
            +until($desktop)
                margin-top: 1.5rem
        .modal-text
            +mobile
                margin-top: .5rem
                padding-top: 0
                font-size: $font-size_3
                line-height: $line-height_3
    & .breadcrumbs
        margin-top: 1.5rem
