.filter-button
    +flex-container-center
    margin-right: 1rem
    display: none
    &__icon
        fill: $light-grey
        width: $size_24
        height: $size_24
        transition: .35s
        &_active
            fill: $icon-blue
    &--active
        +until($desktop)
            display: flex