.filter-button
    +flex-container-center
    margin-right: 1rem
    display: none
    +until($desktop)
        display: flex
    &__icon
        fill: $icon-blue
        width: $size_24
        height: $size_24
        transition: .35s
        cursor: pointer