.listing
    @extend .container
    
    &__header
        display: flex
        
    &__title
        @extend .title-2
        
    &__shields
        display: flex
        flex-wrap: wrap
        
    &__shield
        
    &__content
        @extend .columns
        
    &__sidebar
        @extend .column_width_3
        
    &__products
        @extend .column_width_9
        
        &_actions
            +flex-container
            
        &_grid
            display: flex
            flex-wrap: wrap
            
        &_pagination
            padding-top: 1.875rem
            +tablet
                +flex-container
            &_btn
                @extend .text-2
                cursor: pointer
                color: $grey
                border: 1px solid $grey
                padding: 0.5rem 2rem
                border-radius: 4px
                font-weight: 600
                text-align: center
                
            