.listing
    @extend .container
    margin-bottom: 5rem
    +desktop
        margin-bottom: 6.5rem
    
    &__header
        display: inline-block
        margin: 1.5rem 0
        +desktop
            margin-bottom: 0
        
    &__title
        @extend .title-3
        display: inline
        +desktop
            font-size: $font-size_5
            line-height: $line-height_5
    
    &__items-cont
        font-size: $font-size_3
        line-height: $line-height_8
        color: $grey
        margin-left: 1rem
        
    &__shields
        @extend .shield
        +mobile
            flex-wrap: nowrap
            overflow-y: scroll
        
    &__shield
        @extend .shield__item
        &--active
            @extend .shield__item--active
        
    &__content
        @extend .columns
        margin-top: -.25rem
        +desktop
            margin-top: .75rem
        
    &__sidebar
        @extend .column--sidebar
        
    &__subcategories
        &--filter
            & .listing__further-subcategories li
                position: relative
                margin-left: 1.5rem

    &__subcategory
        padding: 1rem 0
        +desktop
            padding-top: 0
            padding-bottom: 1.5rem
        &--opened
            border-bottom: 1px solid $border-color_4
            +desktop
                border-bottom: none

    &__subcategory-link
        @extend .title-4
        transition: .2s
        cursor: pointer
    &__subcategory-head
        display: flex
        justify-content: space-between
        align-items: center
    &__subcategory-icon
        & svg
            width: $size_14
            height: $size_8
        &--open
            & svg
                transform: rotate(180deg)
    // &__further-subcategories
    //     border-bottom: 1px solid $border-color_4
    //     +tablet
    //         border: none
    &__further-subcategories
        padding-top: 1rem
        & li
            padding-bottom: 1rem
        & .listing__subcategory-btn
            padding-bottom: 0
    &__further-subcategory
        @extend .text-2
        color: $grey
        +tablet
            &:hover
                color: $black
    &__further-sc-icon
        position: absolute
        top: 7px
        left: -20px
        fill: $icon-grey
        width: $size_12
        height: $size_12
        
    &__subcategory-btn a
        @extend .link-blue
        @extend .show-more

    &__all-categories-ctrl
        @extend .link-blue
        @extend .show-more
        display: block
        margin-top: -1px
        padding-top: 1.125rem
        border-top: 1px solid $border-color_4
        
    &__products
        @extend .column--content
        
    &__pagination
        padding-top: 1.875rem
        +tablet
            +flex-container
    &__pagination-btn
        @extend .text-2
        cursor: pointer
        width: 100%
        max-width: auto
        +tablet
            max-width: 13.5rem
        color: $grey
        border: 1px solid $grey
        padding: 0.5625rem 0rem
        border-radius: $border-radius
        font-weight: 600
        text-align: center
        
    &__actions
        +flex-container
        height: 2.5rem
        margin-bottom: 1.5rem
        +until($desktop)
            height: 3.5rem
            margin-left: -1rem
            margin-right: -1rem
            padding: 1rem
            background-color: $white
            box-shadow: 0px 2px 8px rgba($shadow, .25)
        +until($desktop-small)
            position: relative
            z-index: 12
        &--sticky
            position: fixed
            top: 0
            width: 100%
            margin: 0 -1rem
            & ~ .listing__grid
                margin-top: 4.25rem

    &__select
        width: 100%
        height: 2.5rem
        +desktop
            width: 13.5rem
        & .select__arrow
            fill: $icon-black
            width: $size_8-33
            height: $size_5
        & .select__button
            padding: .4375rem 1rem
            
    &__grid
        @extend .columns
        flex-wrap: wrap
        +mobile
            display: flex
            flex-wrap: wrap
            flex: auto
            margin-left: -1rem
            margin-right: -1rem
        .card:nth-child(odd)
            +mobile
                border-right: none
        &--horiz
            flex-direction: column
            flex: auto
            .listing__card
                width: 100%
                padding-bottom: 1.5rem
                border-bottom: 1px solid $border-color_4
                +mobile
                    border: none
                    padding: 0
                &:nth-child(odd)
                    +mobile
                        border-right: none
            .card
                display: flex
                border: none
                border-bottom: 1px solid $border-color_4
                padding: 1.1875rem 1rem 1.5rem 1rem
                +tablet
                    padding: 0 !important
                    border: none
                &:nth-child(odd)
                    +tablet
                        border-left: none
            .card__top
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                margin-right: .5rem
                +tablet
                    margin-right: 1.5rem
            .card__header
                display: none
            .card__image-block
                width: 5.875rem
                height: 5.875rem
                margin: 0.25rem 0 1.5rem 0
                +tablet
                    order: -1
                    height: 7.5rem
                    max-width: 7.5rem
                    margin: 0
            .card__image-block--horiz
                display: block
                // +tablet
                //     display: block
            .slider-photo-card
                display: none
                // +tablet
                //     display: none
            .card__code
                order: -1
                text-align: center
                +tablet
                    display: none
                    text-align: left
            .card__bottom
                display: flex
                flex-direction: column
                width: inherit
                +tablet
                    flex-direction: row
            .card__description-horiz
                width: inherit
                +tablet
                    margin-right: 1.5rem
                & > .card__code
                    +tablet
                        display: block
                        margin-bottom: .5rem
                & > .card__header
                    display: block
                    margin-bottom: .5rem
            .card__name
                height: 2rem
                margin-bottom: .5rem
                +tablet
                    margin-bottom: 0
                    height: 3.75rem
            .card__price-horiz
                +tablet
                    align-self: flex-end
            .card__price
                display: flex
                justify-content: space-between
                .card__header_in-favorite
                    +desktop
                        display: block
            .card__button-block
                justify-content: flex-start
            .card--grid .add-to-cart
                width: auto
                margin-right: 1rem
            .add-to-cart__add,
            .add-to-cart__in-cart
                width: 8.375rem
                +tablet
                    width: 10rem
                    margin-right: 1.5rem

    &__card
        @extend .column
        @extend .column_width-mobile_6
        @extend .column_width-tablet_4
        @extend .column_width-desktop_3
        +mobile
            border: 1px solid $border-color
            border-right: none
            border-left: none
            margin-top: -1px
        &:nth-child(odd)
            +mobile
                border-right: 1px solid $border-color
        
