.dashboard
    &__main
        margin-top: 1.25rem
        +tablet 
            display: flex
            margin-top: 2rem
    &__top
        +tablet
            width: calc(100% - 336px - 1.5rem)
            margin-right: 1.5rem
    &__bottom
        width: 100%
        +tablet
            width: 336px
    &__head
        display: flex
        align-items: center
        justify-content: space-between
        +mobile 
            position: relative
            
