.dashboard-contract
    margin-top: 1rem
    padding: 1.5rem 1rem
    box-shadow: 0px 5px 16px rgba(181, 195, 208, 0.32)
    border-radius: 4px
    +tablet 
        margin-top: 1.5rem
        padding: 1.5rem 2rem
    &__head
        padding-bottom: 1rem
        border-bottom: 1px solid $border-color_4
        display: flex
        justify-content: space-between
    &__btn
        @extend .link-blue
        width: fit-content
        @extend .text-2
        font-weight: 600
        display: flex
        align-items: center
        cursor: pointer
        & svg
            width: $size_15
            height: $size_15
            fill: $blue
            margin-right: 0.625rem
    &__title
        @extend .text-1
        font-weight: 700
       
    &__list
        margin-top: 1rem
        +tablet
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            margin-top: 0.5rem
    &__item 
        display: flex
        justify-content: space-between
        @extend .text-2
        padding-top: 0.5rem
        +tablet
            padding-top: 1rem
            width: calc( 100% / 2 - 14px )
        &--info
            color: $light-grey
        
    &__dash
        flex: 1
        background: linear-gradient( 90deg, #e7e7ec 100%, transparent 0) repeat-x
        background-size: 3px 1px
        background-position: 0 calc(100% - 1px)
        & span
            background: $white
    &__info
        color: $grey   