.breadcrumbs    
    display: flex
    flex-direction: row
    align-items: center
    height: 3.5rem
    padding: 0
    list-style: none
    &__item
        display: none
        +tablet
            display: flex
            align-items: center
        & > a
            display: inline
            color: $black
        & > a:hover
            color: $black
        & svg
            fill: $icon-black
            width: $size_5
            height: $size_8-33
        &_active,
        &_active > a
            display: none
            +tablet
                display: inline-block
                //color: $color_light-grey-trans
                pointer-events: none
                cursor: default
        &_active svg
            display: none
        &_penultimate
            display: block
            & > a
                +mobile
                    display: flex
                    flex-direction: row-reverse
                    align-items: center
                    & > svg
                        display: block
                        transform: scale(-1,1)