@keyframes labelUp
    0%
        transform: translate(-7px, 7px)
        opacity: 0
        font-size: $font-size_4
        line-height: $line-height_4
    40%
        transform: translate(0, 0)
        opacity: 1
        @extend .label-typo
    100%
        transform: translate(0, 0)
        opacity: 1
        @extend .label-typo