//--------------------------------------------------------------------------------------------------------------------//
// FONTS
//--------------------------------------------------------------------------------------------------------------------//

$font-montserrat-regular: 'Montserrat Regular', Arial, sans-serif
$font-montserrat-medium-italic: 'Montserrat Medium Italic', Arial, sans-serif
$font-montserrat-semibold: 'Montserrat SemiBold', Arial, sans-serif
$font-montserrat-bold: 'Montserrat Bold', Arial, sans-serif
$font-montserrat-bold-italic: 'Montserrat Bold Italic', Arial, sans-serif

$font-size: 16px
$font-size_1: 3.8125rem // 61px
$font-size_2: 2.5rem // 40px 
$font-size_3: .875rem // 14px
$font-size_4: .75rem // 12px
$font-size_5: 1.75rem // 28px
$font-size_6: 1.5rem // 24px
$font-size_7: 2.25rem // 36px
$font-size_8: 1.25rem // 20px
$font-size_9: .625rem // 10px
$font-size_10: 1.125rem // 18px

$line-height: 1.5rem // 24px
$line-height_1: 4.4375rem // 71px
$line-height_2: 2.9375rem // 47px
$line-height_3: 1.25rem // 20px
$line-height_4: 1rem // 16px
$line-height_5: 2.25rem // 36px
$line-height_6: 2rem // 32px
$line-height_7: 2.75rem // 44px
$line-height_8: 1.75rem // 28px
$line-height_9: .75rem // 12px
$line-height_10: 1.375rem // 22px
$line-height_11: 1.0625rem // 17px

$font-weight: 400
$font-weight_medium: 500
$font-weight_semibold: 600
$font-weight_bold: 700

//--------------------------------------------------------------------------------------------------------------------//
// SCREEN SIZES
//--------------------------------------------------------------------------------------------------------------------//

$tablet: 768px
$desktop-small: 988px
$desktop: 1024px
$widescreen: 1440px

$body-min-width: 300px

//--------------------------------------------------------------------------------------------------------------------//
// COLORS
//--------------------------------------------------------------------------------------------------------------------//

$black-real: #000000
$black: #001427
$white: #fff
$primary-red: #dc0000
$primary-hover: #0c0c0c
$grey: #4d5b68
$tooltip-grey: #5e5e5e
$light-grey: #8a98a7
$medium-grey: #777
$milk-grey: #eee
$pre-white: #f3f5f6
$border-color: #d0d6dc
$border-color_2: #e5e5e5
$border-color_3: #dcdcdc
$border-color_4: #e7e7ec
$light: #f6f6f6
$shield: #f9fafb
$shadow: #b5c3d0

$yellow: #fedd00
$orange: #fba212
$blue: #357ade
$purple: #6F05F6
$pink: #ff6489
$green: #049004

//--------------------------------------------------------------------------------------------------------------------//
// COMPONENTS
//--------------------------------------------------------------------------------------------------------------------//

$column-gap: .75rem
$column-gap_mobile: .25rem
$columns-margin: 2*$column-gap
$columns-margin_mobile: 2*$column-gap_mobile

$block-spacing: 1.5rem

//container
$container-width: 88.5rem
$container-gap: 2rem
$container-gap_mobile: 1rem

//borders
$border-radius: .25rem
$border-radius_2: .125rem
$border-radius_3: .5rem
$border-radius_4: .9375rem
$border-radius_5: 9.375rem

//slider
$height_main-slide: 31.875rem
$dot-width: 8px
$dot-spacing: 6px

//sprite        *названия размеров включают размер изображения в пикселях*
$icon-black: $black
$icon-grey: $grey
$icon-medium-grey: $tooltip-grey
$icon-light-grey: $border-color
$icon-white: $white
$icon-red: $primary-hover
$icon-blue: $blue
$size_5: .375rem 
$size_8: .5rem 
$size_8-33: .813rem 
$size_10: .625rem
$size_12: .75rem
$size_14: .875rem
$size_15: .938rem
$size_16: 1rem
$size_18: 1.125rem
$size_19: 1.188rem
$size_20: 1.25rem
$size_23: 1.4375rem
$size_24: 1.5rem