//--------------------------------------------------------------------------------------------------------------------//
// FONTS
//--------------------------------------------------------------------------------------------------------------------//

$font-montserrat-regular: 'Montserrat Regular', Arial, sans-serif
$font-montserrat-medium-italic: 'Montserrat Medium Italic', Arial, sans-serif
$font-montserrat-semibold: 'Montserrat SemiBold', Arial, sans-serif
$font-montserrat-bold: 'Montserrat Bold', Arial, sans-serif
$font-montserrat-bold-italic: 'Montserrat Bold Italic', Arial, sans-serif

$font-size: 16px
$font-size_1: 3.8125rem
$font-size_2: 2.5rem
$font-size_3: .875rem
$font-size_4: .75rem
$font-size_5: 1.75rem
$font-size_6: 1.5rem
$font-size_7: 2.25rem

$line-height: 1.5
$line-height_1: 4.4375rem
$line-height_2: 2.9375rem
$line-height_3: 1.25rem
$line-height_4: 1rem
$line-height_5: 2.25rem
$line-height_6: 2rem
$line-height_7: 2.75rem

$font-weight: 400
$font-weight_medium: 500
$font-weight_semibold: 600
$font-weight_bold: 700

//--------------------------------------------------------------------------------------------------------------------//
// SCREEN SIZES
//--------------------------------------------------------------------------------------------------------------------//

$tablet: 768px
$desktop-small: 988px
$desktop: 1024px
$widescreen: 1440px

$body-min-width: 300px

//--------------------------------------------------------------------------------------------------------------------//
// COLORS
//--------------------------------------------------------------------------------------------------------------------//

$black: #001427
$white: #fff
$primary-red: #dc0000
$primary-hover: #ff0000
$grey: #4d5b68
$tooltip-grey: #5e5e5e
$light-grey: #8a98a7
$border-color: #d0d6dc
$border-color_2: #e5e5e5
$light: #f6f6f6

$yellow: #fedd00
$orange: #fba212
$blue: #357ade
$purple: #6F05F6
$pink: #ff6489

//--------------------------------------------------------------------------------------------------------------------//
// COMPONENTS
//--------------------------------------------------------------------------------------------------------------------//

$column-gap: .75rem
$column-gap_mobile: .25rem
$columns-margin: 2*$column-gap
$columns-margin_mobile: 2*$column-gap_mobile

$block-spacing: 1.5rem

//container
$container-width: 88.5rem
$container-gap: 2rem
$container-gap_mobile: 1rem

//boders
$border-radius: .25rem
$border-radius_2: .125rem