.about-us
    margin-top: 1.5rem
    margin-bottom: 9.375rem
    +tablet
        margin-bottom: 12.5rem
    &__main
        @extend .columns
        margin-top: 1.5rem
        display: flex
        flex-direction: column
        +tablet
            flex-direction: row
            margin-top: 2rem
    &__title
        @extend .title-10
    &__pic
        @extend .column
        margin-top: 1rem
        width: 100%
        order: 2
        +tablet 
            margin-top: 0
            width: percentage(5 / 12)
            max-width: 36rem
            order: 0
    &__img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 4px
    &__desc-wrapper
        @extend .column
        display: flex
    &__desc
        padding: 1.5rem 1rem
        order: 1
        border: 1px solid $border-color
        border-radius: 4px
        +tablet
            padding: 2rem  
            flex: 1
            order: 1
    &__text
        @extend .text-5
        font-weight: 400
        color: $grey
        & p
            margin-top: 1.5rem
            +tablet 
                margin-top: 2rem
            &:first-child
                margin-top: 0 
    &__btn
        display: none
        +tablet 
            display: block   