.favorite
    &__header
        display: flex
        justify-content: space-between
        &_column
            flex-direction: column
    &__no-favorite
        margin-top: .5rem
    &__catalogue-btn
        @extend .button-primary
        padding: .625rem 1.5rem
        margin-top: 1.5rem
        +tablet
            margin-top: 2rem