.finance
    &__title
        @extend .order__title
    &__subtitle
        @extend .profile__company-name
    &__info
        @extend .order__info
        &-icon
            @extend .order__info-icon
            & svg
                width: $size_18
                height: $size_18
    &__layout
        margin: 2rem 0 1.5rem 0
        +tablet
            margin: 2.5rem 0 0 0
        &:last-of-type
            +tablet
                margin-bottom: 0
    &__item
        @extend .text-2
        display: flex
        padding: 1rem
        border-bottom: 1px solid $border-color
        flex-wrap: wrap
        justify-content: space-between
        +desktop
            flex-wrap: nowrap
            justify-content: normal
        &--head
            background: $shield
            border: none
            display: none
            +desktop
                display: flex
    &__sum
        order: 1
        flex: 1
        &--red
            color: $primary-hover
        +tablet-only
            width: 50%
            flex: none
        +desktop
            flex: 1
            max-width: 9.813rem
            order: 0
            width: auto
           
    &__date
        order: 3
        font-size: $font-size_4
        width: 75%
        padding-top: 0.5rem
        color: $light-grey
        +desktop
            width: auto
            padding-top: 0
            flex: 1
            max-width: 14.875rem
            order: 0
            
    &__operation
        order: 2
        +desktop
            flex: 1
            order: 0
            
    &__code
        display: none
        color: $blue
        &--head
            color: $black
        +desktop
            flex: 1
            display: flex
            justify-content: flex-end
            
    &__order
        order: 4
        color: $blue
        padding-top: 0.5rem
        +desktop
            display: none

    