@import './finance/finance-prgs-crcl'
@import './finance/finance-charges'
@import './finance/finance-history'
    
.finance
    &__header
        margin: 1rem 0 0 0
        +desktop-small
            margin-top: .75rem
        &--download
            +desktop-small
                +flex-container
        & .profile__title
            margin: 0 0 1rem 0
            +desktop-small
                margin: 0
        & .profile__link
            svg
                width: 1.125rem
                height: 1.25rem
                margin: 0 0 0 .5rem
    &__subtitle
        @extend .profile__company-name
    &__info
        @extend .order__info
        &-icon
            @extend .order__info-icon
            & svg
                width: $size_18
                height: $size_18
    &__layout
        margin: 2rem 0 1.5rem 0
        +desktop-small
            margin: 2.5rem 0 0 0
        &:last-of-type
            margin-bottom: 5.8125rem
            +desktop-small
                margin-bottom: 2.875rem
        & .profile__link svg
            margin: 0 0 0 .25rem
        &--credit-debt
            display: flex

    &__creditor-debt
        flex: 1
        & .creditor-debt
            width: 66%
            // height: fit-content
            padding: 1rem
            box-shadow: none
            border: 1px solid $border-color_4
            +desktop-small
                width: 100%
                padding: 2rem
        