.order
    &__title
        @extend .title-3
    &__none
        padding-top: 0.8rem
        &_btn
            @extend .button-catalogue
            margin-top: 2rem
            width: 100%
            +tablet
                cursor: pointer
                width: 11.75rem

    &__info
        font-size: $font-size_4
        margin-top: 2rem
        background: $pre-white
        padding: 0.75rem 1.188rem
        display: flex
        align-items: center
        border-radius: $border-radius
        +mobile
            margin-top: 1rem
            align-items: center
        &-icon
            padding-right: 0.625rem
            height: $size_18
        & svg
            width: $size_18
            height: $size_18
        &-select
            margin-top: 1.5rem
            +tablet
                max-width: 13.5rem
    &__list
        @extend .text-2
        margin-top: 3.125rem
    &__item
        padding-bottom: 2.5rem
    &__desc
        padding: 0 1rem
        padding-bottom: 1.25rem
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid $border-color
        cursor: pointer
        +mobile
            flex-wrap: wrap
    &__number
        +mobile
            order: 1
            width: 49%
        +tablet
            cursor: pointer
            flex: 1
            max-width: 6.25rem
        font-weight: bold
        color: $blue
    &__date
        +mobile
            width: 50%
            order: 3
            padding-top: 0.625rem
        +tablet
            flex: 1
            max-width: 7.5rem
        color: $light-grey
    &__status
        +mobile
            width: 65%
            order: 5
            font-size: $font-size_4
            padding-top: 0.625rem
        +tablet
            flex: 1
            max-width: 7.5rem
        color: $green
    &__qty
        +mobile
            order: 2
    &__price
        +mobile
            order: 4
        +tablet
            flex: 1
            margin-right: 2.5rem
            display: flex
            justify-content: flex-end
        font-weight: 700
        font-size: $font-size
    &__btn
        +mobile
            order: 7
            width: 100%
            margin-top: 0.625rem
            justify-content: center
        display: flex
        border: 1px solid $light-grey
        padding: 0.5rem
        border-radius: $border-radius
        cursor: pointer
        &-icon
            padding-right: 0.625rem
            & svg
                fill: $grey
                width: $size_12
                height: $size_12
        &:hover
            border: 1px solid $primary-hover
            color: $primary-hover
            & > .order__btn-icon svg 
                fill: $primary-hover
    &__arrow
        +tablet
            height: 2rem
        &_wrap
            width: 2rem
            display: flex
            justify-content: center
            +tablet
                align-items: center
                width: 3rem
                height: 100%
                cursor: pointer
                &:hover
                    & svg
                        fill: $grey
        +mobile
            order: 6
        +tablet
            flex: 1
            display: flex
            align-items: center
            justify-content: flex-end
            max-width: 6.25rem
        & svg
            width: $size_14
            height: 0.5rem
            fill: $light-grey
        &--open
            & svg
                transform: rotate(180deg)
    &__product-list
        display: none
        margin-top: 1.625rem
        &--open
            display: block
    &__product-item
        &--all
            & a
                @extend .profile__link
                margin: 0 auto
                width: fit-content
        &:nth-child(5)
            & ~ .order__product-item--all
                display: flex
                align-items: center
                justify-content: center
            
        display: flex
        justify-content: space-between
        padding: 0 1rem
        padding-bottom: 0.625rem
        border-bottom: 1px solid $border-color
        margin-bottom: 1.125rem
        +mobile
            flex-wrap: wrap
    &__product-number
        @extend .text-4
        +tablet
            font-size: $font-size
            line-height: $line-height
            flex: 1
            max-width: 6.25rem
            & span
                display: none
        +mobile
            font-size: $font-size_4
            width: 100%
            color: $grey
    &__product-desc
        cursor: pointer
        position: relative
        +tablet
            &:hover
                .order__product-desc_tooltip
                    display: flex
                text-decoration: underline
                
            flex: 2
        +mobile
            width: 100%
            padding-top: 0.25rem
        & span
            max-width: 13.125rem
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            display: block
        &_tooltip
            @extend .tooltip
            width: 100%
            max-width: 15rem
            top: 2rem
    &__product-qty
        +tablet
            & span
                display: none
            flex: 1
            max-width: 5rem
        +mobile
            padding-top: 0.625rem
            color: $grey
    &__product-item-price
        +tablet
            flex: 1
            max-width: 6.875rem
        +mobile
            display: none
    &__product-all-price
        +tablet
            flex: 1
        +mobile
            font-weight: bold
    &__product-discount
        +tablet
            flex: 1
        +mobile
            display: none
    &__product-total-price
        +tablet
            flex: 1
        +mobile
            display: none
        color: $green
.order-modal
    &__title
        @extend .modal-title
        text-align: center
    &__text
        padding-top: 1.5rem
    &__btn
        @extend .button-catalogue
        cursor: pointer
        width: 100%
        max-width: 12.813rem
        margin: 0 auto
        margin-top: 2.625rem
    &__special
        position: relative
        padding-top: 2rem
        &::after
            content: ''
            position: absolute
            bottom: 0
            background: $white
            width: 100%
            height: 1.5625rem
            opacity: 0.6
        &_title
            @extend .text-2
            font-weight: bold
        &_list
            padding-top: 1rem
            opacity: .5
            height: 13.125rem
            overflow: auto
            &::-webkit-scrollbar 
                width: .25rem
            &::-webkit-scrollbar-track 
                background: $pre-white
            &::-webkit-scrollbar-thumb 
                background: $border-color
                height: 5.3125rem

        &_item
            display: flex
            padding: 0.5rem 0
            border-bottom: 1px solid $border-color_4
        &_info
            max-width: 14.063rem
        &_img
            width: 3.75rem
            height: 3.75rem
            padding-right: 1.5rem
        &_article
            @extend .text-3
        &_desc
            @extend .text-2