.profile-modal
    &__form
        margin-top: 1.5rem
        &_column
            display: flex
            flex-direction: column
    &__label
        position: relative
        display: flex
        &_column
            display: flex
            flex-direction: column
        svg
            position: absolute
            top: .5rem
            right: .5rem
            width: $size_24
            height: $size_24
            fill: $light-grey
    &__icon
        position: absolute
        right: .5rem
        svg
            width: $size_24
            height: $size_24
            fill: $light-grey 
    &__label-text
        @extend .label-typo
        position: absolute
        top: -.375rem
        left: 1rem
        width: max-content
        padding: 1px .5rem
        background-color: $white
        color: $light-grey
        opacity: 0
        z-index: 2
        &_up
            opacity: 1
            animation: labelUp 200ms
    &__input
        @extend .text-3
        width: 100%
        height: 2.5rem
        margin-bottom: 1rem
        padding: .75rem 1rem
        border: 1px solid $light-grey
        border-radius: $border-radius_2
        &::placeholder
            color: $light-grey
        &_dots
            font-size: 2rem
            line-height: 2.5rem
    &__button
        @extend .button-primary
        padding: .625rem
        margin: 1rem auto 0 auto
        +tablet
            width: 12.1825rem
    &__text
        @extend .text-3
        margin-bottom: 1rem

    &__radio
        @extend .radio
        margin-bottom: 1rem
        &_column
            display: block
        .profile-modal__label-text,
        .profile-modal__label-text_up
            top: 2.0625rem
    &__radio-input
        display: flex
        align-items: center
        margin-bottom: 1rem
    &__check
        @extend .radio__check
    &__radio-label
        @extend .radio__label
    &__textarea
        min-height: 6.5rem
        margin-bottom: 1rem
        padding: .75rem 1rem
        border: 1px solid $light-grey
        border-radius: $border-radius_2
        &_error
            border-color: $primary-red
        &::placeholder
            color: $light-grey
    &__error-text
        @extend .text-3
        margin-bottom: 1rem
        color: $primary-red