.profile-modal
    &__form
        margin-top: 1.5rem
        &--column
            display: flex
            flex-direction: column
    &__label
        @extend .form__label
        &--column
            display: flex
            flex-direction: column
    &__label-icon
        @extend .form__label-icon
    &__label-text
        @extend .form__label-text
        &--up
            @extend .form__label-text--up
    &__input
        @extend .form__input
        &:focus ~ .profile-modal__label-text
            @extend .form__label-text--up
        &--dots
            @extend .form__input--dots
        &--error
            @extend .form__input--error
    &__input:read-only
        background-color: $pre-white
        & ~ .profile-modal__label-text--up::after
            @extend .form__label-text--up-grey
            
    &__button
        @extend .form__button
    &__text
        @extend .form__text

    &__radio
        @extend .radio
        margin-bottom: 1rem
        &_column
            display: block
        .profile-modal__label-text
            top: 3.0625rem
        .profile-modal__label-text--up,
        .profile-modal__textarea:focus ~ .profile-modal__label-text
            top: 2.0625rem
            +tablet
                top: 2.1875rem
        &:hover
            .profile-modal__check
                border-color: $light-grey
            input:checked + .profile-modal__check
                border-color: $primary-red
    &__radio-input
        display: flex
        align-items: center
        margin-bottom: 1rem
    &__check
        @extend .radio__check
    &__radio-label
        @extend .radio__label
    &__textarea
        @extend .text-3
        min-height: 6.5rem
        margin-bottom: 1rem
        padding: .75rem 1rem
        border: 1px solid $border-color
        border-radius: $border-radius_2
        &--error
            border-color: $primary-hover
        &::placeholder
            color: $light-grey
        &:focus
            border-color: $light-grey
            & ~ .profile-modal__label-text
                @extend .form__label-text--up
                top: -.5rem
    &__error-text
        @extend .form__error-text
        &--invalid
            @extend .form__error-text--invalid
        &--invalid-email
            @extend .form__error-text--invalid-email