<div class="pagination">
    <div class="pagination_arrow pagination_arrow-prev">
        <svg>
            <use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-left'"></use>
        </svg>
    </div>
    <ul class="pagination_list">
        <li class="pagination_item pagination_item--current">
            <a href="#" class="pagination_link">1</a>
        </li>
        <li class="pagination_item">
            <a href="#" class="pagination_link">2</a>
        </li>
        <li class="pagination_item">
            <a href="#" class="pagination_link">3</a>
        </li>
        <li class="pagination_item">
            <a href="#" class="pagination_link">4</a>
        </li>
        <li class="pagination_item">
            <a href="#" class="pagination_link">...</a>
        </li>
        <li class="pagination_item">
            <a href="#" class="pagination_link">106</a>
        </li>
    </ul>
    <div class="pagination_arrow pagination_arrow--next">
        <svg>
            <use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-right'"></use>
        </svg>
    </div>
</div>