<div class="about-us">
    <div class="container">
        <div class="about-us__head">
            <h2 class="about-us__title">Про нас</h2>
        </div>
        <div class="about-us__main">
            <div class="about-us__pic">
                <img src="" alt="" class="about-us__ing">
            </div>
            <div class="about-us__desc">
                <div class="about-us__text">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="about-us__btn">
                    
                </div>
            </div>
        </div>
    </div>
</div>