<section class="about-us">
    <div class="container">
        <div class="about-us__head">
            <h2 class="about-us__title">{{ 'about_us.title'|trans }}</h2>
        </div>
        <div class="about-us__main">
            <div class="about-us__pic">
                <img src="./demo_images/about_us/about_us_pic.jpg" alt="" class="about-us__img">
            </div>
            <div class="about-us__desc-wrapper">
                <div class="about-us__desc">
                    <div class="about-us__text">
                        <p>{{ 'about_us.text_1'|trans }}</p>
                        <p>{{ 'about_us.text_2'|trans }}</p>
                        <p>{{ 'about_us.text_3'|trans }}</p>
                    </div>
                    <div class="about-us__btn">
                        <component is="catalogue-btn"></component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>