.product-tabs
    &__tabs
        @extend .tabs
        &_center
            +mobile
                justify-content: center
        &_end
            +mobile
                justify-content: flex-end
    &__tab
        @extend .tabs__tab
        &:not(:last-child)
            margin-right: 1.5rem
            +tablet
                margin-right: 3.5rem
        &_active
            @extend .tabs__tab_active
    &__content
        display: block
        padding-top: 2.5rem
        &_mobile
            +tablet
                display: none
    &__content-layout:not(:last-child)
        margin-bottom: 2.5rem
    &__content-grid
        display: flex
        flex-direction: column
        height: 100vh
        & .product-tabs__content-layout
            +tablet
                width: 50%
    &__features li
        display: flex
        justify-content: space-between
        color: $light-grey
    &__features-dash
        border-bottom: 1px solid rgba($light-grey, .42)
    &__content-title
        @extend .title-4
        color: $black
        margin-bottom: 1.5rem
    &__content-text
        @extend .text-4
        color: $black
    &__content-feature
        border: 1px solid rgba($light-grey, .42)
        border-radius: $border-radius
        display: flex
        flex-direction: column
        overflow: hidden
        +tablet
            flex-direction: row
        &:not(:last-child)
            margin-bottom: 1rem
            +tablet
                margin-bottom: 1.5rem
    &__feature-img
        width: 100%
        height: 9.375rem
        +tablet
            width: calc(50% - 1.5rem)
            height: 100%
    &__feature 
        padding: .5rem 1rem 1rem 1rem
        +tablet
            padding: 1.5rem
        & .product-tabs__content-text
            +tablet
                color: $medium-grey
        & .product-tabs__content-title
            margin-bottom: .5rem
    &__content-answer
        +desktop
            width: 51rem
    &__answer
        @extend .product-tabs__content-feature
        padding: 1.5rem 1rem
        +tablet
            flex-direction: column
        &:not(:last-child)
            margin-bottom: 1.5rem
            padding: 1.5rem
    &__question
        display: flex
        justify-content: flex-start
        margin-bottom: .5rem
        +tablet
            margin-bottom: 1.5rem
        & svg
            fill: $black
            width: 1.125rem
            height: 1.125rem
            margin-right: .6875rem
    &__answer-text
        @extend .product-tabs__content-text
        position: relative
        height: 11rem
        overflow: hidden
        +tablet
            height: 4.5rem
    &__text-prompt
        position: absolute
        right: 0
        bottom: 0
        background-color: $white
        +tablet
            right: 1.5rem
        & > span
            color: $blue
        
