.country
    position: fixed
    top: 3rem
    width: 100%
    height: 100vh
    z-index: 12
    -webkit-transition: opacity .25s
    transition: opacity .35s
    overflow: hidden
    opacity: 0
    z-index: -1
    +until($desktop-small)
        display: none
    &--open
        opacity: 1
    &__bg
        position: absolute
        opacity: 0
        background: $black
        width: 100%
        height: 100vh
        transition: opacity .35s
        &--show
            opacity: .72
    &__wrapper
        position: absolute
        background: #fff
        width: 100%
        top: 0
        max-height: 0px
        overflow: hidden
        -webkit-transition: max-height .35s
        transition: max-height .35s
        &--show
            max-height: 21.25rem
    &__container
        @extend .container
        display: flex
        justify-content: space-between
        padding: 3.5rem 0 3rem 0
    &__choice
        //flex: 1
    &__title
        @extend .title-2
    &__list
        display: flex
        flex-direction: column
        flex-wrap: wrap
        max-height: 15rem
        padding-top: 2.5rem
        margin-bottom: 2.5rem
        +tablet
            max-height: 10rem
    &__choice-item
        z-index: 1
        flex: 1
        width: 9rem
        padding-bottom: 1rem
        +tablet
            width: 15rem
    &__choice-link
        cursor: pointer
        @extend .text-1
        padding-bottom: 0.5rem
        border-bottom: 1px solid transparent
        color: $grey
        &:hover
            border-color: $primary-red
            color: $black
            transition: .3s
        &--active
            border-color: $primary-red
            color: $black
    &__map-wrapper
        position: relative
        max-width: 101.5rem
        height: 21.25rem
        margin: auto
        z-index: 0
        max-height: 0px
        overflow: hidden
        -webkit-transition: max-height .35s
        transition: max-height .35s
        &--show
            max-height: 21.25rem
    &__map
        position: absolute
        right: 0
        svg
            width: 57.5rem
            height: 21.25rem
    &__close
        align-self: flex-end
        display: flex
        align-items: center
        color: $grey
        cursor: pointer
        z-index: 1
        &:hover
            color: $black
            transition: .3s
            .country__close-pic
                fill: $icon-black
                transition: .3s
    &__close-text
        padding-right: 0.875rem
    &__close-pic
        fill: $icon-grey
        width: $size_12
        height: $size_12