.finance-prgs-crcl
    display: none
    +desktop-small
        +flex-container-center
        flex-direction: column
        width: 32%
        margin-left: 1.5rem
    &__days
        @extend .title-3
        width: 4.2rem
        color: $blue
        &--error
            color: $primary-hover
    &__text
        @extend .text-2
        +flex-container-center
        flex-direction: column
        margin-top: 1.5rem
        text-align: center
        &--error
            color: $primary-hover
    &__payment-date
        color: $blue