<!DOCTYPE html>
<html lang="ru">
<head> 
    </script>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Мир Инструмента{% endblock %}</title>
    
    <!-- START include only into demo pages -->
    <link rel="stylesheet" href="./css/css.min.css">
    <link rel="stylesheet" href="./css/demo_mixins.min.css">
    <!-- END include only into demo pages -->
    
{#    {% include '../../../templates/partials/favicon.twig' %}#}
</head>
<body class="page">
    <div id="app" data-path="/" v-cloak>
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="./js/demo.min.js"></script>
    {% include '../../templates/scripts.twig' %}

</body>
</html>
