@import "../../styles/variables"
@import "../../styles/mixins"

.demo-column-content
  height: 6.25rem
  //background-color: $color_yellow

.demo-color-block
  width: 5.0625rem
  height: 5.0625rem
  //border: $border

.demo-logo
  width: 17.125rem
  height: 6.4375rem
  //border: $border

.demo-header-showcase
  padding-top: 6.25rem
  padding-bottom: 6.25rem
    
.demo-background
    position: absolute
    top: 0
    left: 0
    z-index: -1
    & > img
        object-fit: cover
        height: 100%