.filter-clear-btn
    display: none
    +desktop
        display: inline-flex
        margin-top: 2.5rem
    @extend .link-blue
    &__icon
        margin-right: 0.75rem
        & svg
            fill: $blue
            width: $size_16
            height: $size_18
    &__text
        @extend .subtitle-2
        font-family: $font-montserrat-bold
        font-weight: $font-weight_bold
        color: $blue
        font-weight: 600
    &--mobile
        display: inline-flex
        +desktop
            display: none