.filters-range-slider
    &__inputs
        display: flex
    &__input-wrap
        position: relative
        padding-right: 1rem
        &:last-child
            padding-right: 0
    &__input
        @extend .text-3
        padding: 0.5rem 0.875rem
        border: 1px solid $border-color
        box-sizing: border-box
        border-radius: 4px
        max-width: 7.3125rem
        padding-left: 2.5rem
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button
            -webkit-appearance: none
    &__label
        @extend .text-3
        position: absolute
        top: 50%
        transform: translate(0, -50%)
        left: 1rem

.v-slider-wrap
    // width: calc(100% - 2rem)!important
    display: inline-block
    background-color:  $border-color!important
    border-radius: 4px
    position: relative
.v-slider-bar 
    background-color: $primary-red !important
.v-slider-button-wrap 
    width: 1.5rem !important
    height: 1.5rem !important
    border-radius: 50%
    position: absolute
.v-slider-button
    width: 1.5rem !important
    height: 1.5rem !important
    background: $white
    border: 1px solid $border-color!important
    border-radius: 50%
    cursor: pointer
    outline: none
    // &:hover,
    // &:active,
    // &-active
    //     border: 1px solid $yellow !important

       