.filter-block
    &__title
        @extend .text-2
        font-weight: 700
    &__header
        cursor: pointer
        display: flex
        justify-content: space-between
        padding-bottom: 1rem
        &--open
            border-bottom: 1px solid $pre-white
    &__arrow
        & svg
            width: $size_12
            height: $size_12
        &--rotate
            & svg
                transition: .3s 
                transform: rotate(180deg)
    &__content
        margin-top: 1rem
    &__checkbox
        @extend .checkbox-switch
    &__checkbox-input
        @extend .checkbox-switch
        &:checked + .filter-block__checkbox-slider
            background-color: rgba($primary-red, .56)
        &:checked + .filter-block__checkbox-slider:before
            background-color: $primary-red
            transform: translateX(1rem)
    &__checkbox-slider
        @extend .checkbox-switch__slider
    &__checkbox-label
        @extend .checkbox-switch__label
