.home-menu
    &__links
        padding-bottom: 8px
        border-bottom: 1px solid $border-color_2
    &__link
        padding: 18px 23px 18px 18px
        +flex-container
        font-size: 14px
        color: $grey
        & svg
            width: 6px
            height: 10px
            fill: $icon-black
    &__info
        margin-top: 8px
        &_link
            color: $grey
            font-size: 14px
            padding: 18px
            & svg
                fill: $icon-black
                width: 15px
                height: 15px
                margin-right: 11px
                
            