.header-all
    position: fixed
    z-index: 12
    width: 100%
    top: 0
    left: 0
    background-color: $white
    transform: translateZ(0)
    transition: transform .35s
    min-width: 100vw
    +desktop-small
        position: fixed
        &::after
            content: ''
            position: absolute
            top: 2rem
            display: block
            width: 100%
            height: 3rem
            background-color: $white
    
.header
    position: fixed
    width: 100%
    background-color: $white
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08)
    transform: translateZ(0)
    transition: transform .35s
    z-index: 2
    & > .container
        display: flex
        align-items: center
        justify-content: space-between
        padding: .75rem 0
        +desktop-small
            padding: 1rem 0
    &__logo
        order: 2
        height: 2rem
        align-self: baseline
        +desktop-small
            order: 0
            height: 100%
            max-height: 2.5rem
            padding-right: 2rem
        & svg
            fill: $primary-red
            // width: 141px
            // height: 33px
            width: 8.5625rem
            height: 2rem
            +desktop-small
                // width: 176px
                // height: 43px
                width: 9.25rem
                height: 3rem
        &_mobile
            +desktop-small
                display: none
        &_desktop
            margin-top: -.25rem
            +until($desktop-small)
                display: none
    &__catalog
        position: relative
        order: 1
        padding-right: 1.5rem
        +desktop-small
            order: 0
    &__catalog-btn
        @extend .button-catalogue
        display: none
        +desktop-small
            display: flex
            cursor: pointer
    &__catalog-btn-lines
        margin-right: 0.5rem
        width: $size_18
        height: $size_15
        display: flex
        flex-direction: column
        &_active
            position: relative
            .header__catalog-btn-line:first-child
                width: 1.25rem
                transform: rotate(-45deg)
                position: absolute
                margin-bottom: 0
                top: .375rem
            .header__catalog-btn-line:nth-child(2)
                display: none
            .header__catalog-btn-line:nth-child(3)
                width: 1.25rem
                transform: rotate(45deg)
                position: absolute
                bottom: .375rem
    &__catalog-btn-line
        transition: transform .35s
        height: .125rem
        background: $white
        display: block
        width: 100%
        height: .1875rem
        margin-top: .25rem
        &:first-child
            margin-top: 0
    &__catalog-mobile
        position: absolute
        top: -1.5rem
        left: -.75rem
        display: flex
        justify-content: center
        align-items: center
        width: 3rem
        height: 3rem
        cursor: pointer
        +desktop-small
            display: none
        .header__catalog-btn-lines
            height: .875rem
            margin-right: 0
            &_active
               .header__catalog-btn-line
                   height: .125rem  
        .header__catalog-btn-line
            background: $grey
    &__catalog-mobile-icon
        fill: $grey
        width: $size_24
        height: $size_24
        &--close
            height: .75rem
            padding-left: .375rem
    &__menu
        display: none
        +desktop-small
            display: flex
            align-items: center
        &_mobile
            display: flex
            justify-content: space-between
            padding: .75rem 1rem
            box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, .08)
            +tablet
                padding: .75rem 7.65rem
            .header__menu-item
                padding: 0
            .header__menu-link
                @extend .link-3_mobile
                &_active
                    color: $primary-hover
                    & svg
                        fill: $icon-red
            .header__menu-icon
                fill: $light-grey
                margin-bottom: .25rem
    &__menu-item
        padding-right: 1.5rem
        &:last-child
            padding-right: 0
    &__menu-link
        @extend .link-3    
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        +desktop-small
            height: 3rem
        &:hover
            & > .header__menu-icon
                fill: $icon-red
            .header__menu-tooltip
                display: block
                top: 3.625rem
        &_cart_active
            position: relative
            & .header__mini-cart
                position: absolute
                top: -.625rem
                right: -.375rem
                display: flex
                justify-content: center
                align-items: center
                height: 1rem
                border-radius: $border-radius_3
                padding: 0 0.5rem
                background-color: $primary-red
                color: $white
                @extend .text-2
                z-index: 4
                font-family: $font-montserrat-semibold
                +desktop-small
                    top: -.9375rem
                    right: 0

    &__menu-icon
        transition: .35s
        margin-bottom: .5rem
        fill: $icon-black
        width: $size_19
        height: $size_20
    &__menu-tooltip
        @extend .tooltip
        transition: .35s

    &__menu-tooltip-layout
        @extend .tooltip__item
        &:hover svg
            fill: $icon-black
        & > svg
            margin-right: .25rem
            fill: $icon-grey
            width: $size_16
            height: $size_16

    &__search
        @extend .text-2
        position: relative
        order: 3
        +desktop-small
            padding-right: 1.625rem
            order: 0
            flex: 1
        &_split
            width: 100%
            +desktop-small
                width: auto
    &__search-mobile
        display: flex
        +desktop-small
            display: none
    &__search-mobile-btn
        position: absolute
        top: -1.5rem
        right: -.75rem
        display: flex
        justify-content: center
        align-items: center
        width: 3rem
        height: 3rem
        cursor: pointer
    &__search-mobile-icon
        width: $size_18
        height: $size_18
        fill: $icon-light-grey
    &__search-form
        height: 2.5rem
        position: relative
        display: none
        +desktop-small
            display: flex
        &-icon
            fill: $primary-red
            width: $size_18
            height: $size_18
            cursor: pointer
            position: absolute
            right: 0.7rem
            top: 0.74rem
    &__search-input
        position: relative
        +border-style
        @extend .text-2
        flex: 1
        padding-left: 1rem
        background: url(../images/header/icons/mag.svg) right 0.75rem center no-repeat
        transition: background .15s
        &:hover
            background-image: url(../images/header/icons/mag_black.svg)
        &_focused
            background-image: none
            &:hover
                background-image: none
        
    