.header-all
    position: relative
    z-index: 6
    width: 100%
    top: 0
    left: 0
    transform: translateZ(0)
    transition: transform .35s
    +tablet
        position: fixed
    
.header
    position: relative
    background-color: $white
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08)
    transform: translateZ(0)
    transition: transform .35s
    z-index: 2
    & > .container
        display: flex
        align-items: center
        justify-content: space-between
        padding: .75rem 0
        +tablet
            padding: 1rem 0
    &__logo
        order: 2
        padding-right: 2rem
        height: 2rem
        +tablet
            order: 0
            height: 100%
            max-height: 2.5rem
        & svg
            fill: $icon-red
            width: 141px
            height: 33px
            +desktop
                width: 176px
                height: 43px
    &__catalog
        order: 1
        padding-right: 1.5rem
        +tablet
            order: 0
    &__catalog-btn
        @extend .button-catalogue
        display: none
        +tablet
            display: flex
            cursor: pointer
    &__catalog-btn-icon
        padding-right: 0.625rem
        fill: $icon-white
        width: 1.75rem
        height: 1.5rem
    &__catalog-mobile
        +tablet
            display: none
    &__catalog-mobile-icon
        fill: $icon-black
        width: $size_18
        height: $size_14
    &__menu
        display: none
        +tablet
            display: flex
            align-items: center
        &_mobile
            display: flex
            justify-content: space-between
            padding: .75rem 1rem
            box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, .08)
            .header__menu-item
                padding: 0
            .header__menu-link
                @extend .link-3_mobile
                &--active
                    color: $primary-hover
                    & svg
                        fill: $icon-red
            .header__menu-icon
                fill: $light-grey
                margin-bottom: .25rem
    &__menu-item
        padding-right: 1.5rem
        &:last-child
            padding-right: 0
    &__menu-link
        @extend .link-3
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        +tablet
            height: 3rem
        &:hover
            & > .header__menu-icon
                fill: $icon-red
            .header__menu-tooltip
                display: block
                top: 3.625rem
        &_cart_active
            position: relative
            &::after
                position: absolute
                content: '3'
                top: -.4375rem
                right: .75rem
                display: flex
                justify-content: center
                align-items: center
                width: 1rem
                height: 1rem
                border-radius: 50%
                background-color: $primary-red
                color: $white
                @extend .text-3
                z-index: 4
    &__menu-icon
        margin-bottom: .5rem
        fill: $icon-black
        width: $size_19
        height: $size_20
    &__menu-tooltip
        @extend .tooltip

    &__menu-tooltip-layout
        @extend .tooltip__item
        &:hover svg
            fill: $icon-black
        & > svg
            margin-right: .25rem
            fill: $icon-grey
            width: $size_16
            height: $size_16

    &__search
        @extend .text-2
        order: 3
        +tablet
            padding-right: 1.625rem
            order: 0
            flex: 1
    &__search-mobile
        display: flex
        +tablet
            display: none
    &__search-mobile-icon
        width: $size_18
        height: $size_18
        fill: $icon-light-grey
    &__search-form
        height: 2.5rem
        position: relative
        display: none
        +tablet
            display: flex
        &__btn
            width: 3.5rem
            @extend .button-catalogue
            &-icon
                fill: $white
                width: $size_18
                height: $size_18
            cursor: pointer
    &__search-input
        +border-style
        @extend .text-2
        flex: 1
        padding-left: 2.375rem
        background: url(../images/header/icons/mag.svg) left 0.75rem center no-repeat
        transition: background .15s
        &:hover
            background-image: url(../images/header/icons/mag_black.svg)
        &_focused
            background-image: none
            padding-left: 1rem
            &:hover
                background-image: none
        
    