.mobile-search
    display: flex
    align-items: center
    &__pic
        padding-top: 0.75rem
        padding-right: 1.25rem
        &-icon
            fill: $black
            width: $size_18
            height: $size_18
    &__form
        display: flex
    &__input
        padding: 0  0.7rem
        border: 1px solid #D0D6DC
        border-radius: 4px 0 0 4px
    &__btn
        @extend .button-catalogue
        border-radius: 0 4px 4px 0