.mobile-search
    display: flex
    align-items: center
    &__pic
        padding-right: 1.25rem
        width: 0.625rem
        height: 0.625rem
    &__form
        display: flex
    &__input
        padding: 0.7rem
        border: 1px solid #D0D6DC
        border-radius: 4px 0 0 4px
    &__btn
        @extend .button-catalogue
        border-radius: 0 4px 4px 0