.user-tabs
    padding-top: 1.5rem
    padding-bottom: 0.5rem
    border-bottom: 1px solid $pre-white
    display: flex
    &__tab
        font-weight: bold
        color: $grey
        width: 50%
        text-align: center
        padding-bottom: 0.5rem
        margin-bottom: -0.5rem
        border-bottom: 2px solid transparent
        &:last-child
            padding-right: 0
.user-login
    &__form
        margin-top: 1.5rem
    &__label
        @extend .profile-modal__label
        & svg
            position: absolute
            top: .5rem
            right: .5rem
            width: 1.5rem
            height: 1.5rem
            fill: #8a98a7
    &__label-text
        @extend .profile-modal__label-text
    &__input
        @extend .profile-modal__input
    &__button
        @extend .profile-modal__button

.user-reg
    &__form
        margin-top: 1.5rem
        display: flex
        flex-direction: column
    &__label
        @extend .profile-modal__label
        & svg
            position: absolute
            top: .5rem
            right: .5rem
            width: 1.5rem
            height: 1.5rem
            fill: #8a98a7
    &__label-text
        @extend .profile-modal__label-text
    &__input
        @extend .profile-modal__input
    &__button
        @extend .profile-modal__button
    &__radio
        @extend .profile-modal__radio
    &__check
        @extend .profile-modal__check
    &__radio-label
        display: block
