<div class="brands">
    <h2 class="brands__title">Бренды</h2>
    <ul class="brands__list">
        {% for brand in brands %}
            <li class="brands__item">
                <div class="brands__wrap">
                    <a class="brands__link" href="{{brand.url}}">
                        <img src="{{brand.img}}" alt="{{brand.title}}" />
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>