.add-to-cart
    padding-right: 0.5rem   
    &--big
        padding-right: 0
        & .add-to-cart__button
            width: 56px
            height: 100%
        & .add-to-cart__in-cart
            border: 1px solid #e5e5e5
            height: 56px
        &  .add-to-cart__add
            padding: 18px 34px
        & .add-to-cart__amount
            width: 100%
            font-weight: 600
            & > span
                color: $grey
    &__in-cart
        display: flex
        flex-direction: row
        justify-content: space-between
        background: $white
    &__button
        @extend .button
        width: 32px
        height: 32px
        background: $primary-red
        flex-shrink: 0
        &:hover
            background: $primary-hover
        &_decrease
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            & svg
                width: 16px
                height: 2px
        &_increase
            border-top-left-radius: 0
            border-bottom-left-radius: 0
            & svg
                width: 24px
                height: 24px
        & svg
            fill: $icon-white

    &__amount
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        font-size: 14px
        width: 52px
        +desktop
            width: 81px

    &__amount-input
        @extend .add-to-cart__amount
        background: $white
        width: 52px
        +desktop
            width: 81px

    &__add
        @extend .button
        cursor: pointer
        padding: 6px 19px
        +desktop
            padding: 6px 34px
        +tablet
            display: block
        &--smaller
            width: 86px
        & svg
            width: 1.2rem
            height: 1.2rem
            fill: $white