.add-to-cart
    margin-right: .5rem   
    &--big
        padding-right: 0
        & .add-to-cart__button
            width: 3.5rem
            height: 100%
        & .add-to-cart__in-cart
            border: 1px solid #e5e5e5
            border-radius: $border-radius
            height: 3.5rem
        &  .add-to-cart__add
            padding: 1.125rem 2.125rem
        & .add-to-cart__input
            @extend .subtitle-2
            & > .add-to-cart__input-text
                color: $grey
            input
                @extend .subtitle-2
    &__in-cart
        display: flex
        flex-direction: row
        justify-content: space-between
        background: $white
    &__button
        @extend .button
        width: 2rem
        height: 2rem
        flex-shrink: 0
        &--decrease
            border-radius: $border-radius 0 0 $border-radius !important
            & svg
                width: $size_16
                height: 2px
        &--increase
            border-radius: 0 $border-radius $border-radius 0 !important
            & svg
                width: $size_24
                height: $size_24
        & svg
            fill: $icon-white
        &[disabled]
            @extend .button--disabled

    &__input
        +flex-container-center
        flex-direction: column
        font-size: $font-size_3
        // width: 3.25rem
        // +desktop
        //     width: 5.0625rem

    &__amount
        // display: flex
        // flex-direction: column
        // justify-content: center
        // text-align: center
        // font-size: $font-size_3
        // width: 3.25rem
        // +desktop
        //     width: 5.0625rem
        width: 35%
        text-align: start

    &__amount-input
        +flex-container-center
        input
            width: 50%
            font-size: $font-size_3
            text-align: end

    &__add
        @extend .button
        cursor: pointer
        white-space: nowrap
        padding: .375rem 1.1875rem
        +desktop
            padding: .375rem 2.125rem
        +tablet
            display: block
        &--smaller
            //width: 86px
        & svg
            width: 1.2rem
            height: 1.2rem
            fill: $white
        &[disabled]
            background: $border-color