.add-to-cart
    margin-right: .5rem   
    &--big
        padding-right: 0
        & .add-to-cart__button
            width: 3.5rem
            height: 100%
        & .add-to-cart__in-cart
            border: 1px solid #e5e5e5
            height: 3.5rem
        &  .add-to-cart__add
            padding: 1.125rem 2.125rem
        & .add-to-cart__amount
            width: 100%
            font-weight: 600
            & > span
                color: $grey
    &__in-cart
        display: flex
        flex-direction: row
        justify-content: space-between
        background: $white
    &__button
        @extend .button
        width: 2rem
        height: 2rem
        background: $primary-red
        flex-shrink: 0
        &:hover
            background: $primary-hover
        &_decrease
            border-top-right-radius: 0
            border-bottom-right-radius: 0
            & svg
                width: $size_16
                height: 2px
        &_increase
            border-top-left-radius: 0
            border-bottom-left-radius: 0
            & svg
                width: $size_24
                height: $size_24
        & svg
            fill: $icon-white

    &__amount
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        font-size: $font-size_3
        width: 3.25rem
        +desktop
            width: 5.0625rem

    &__amount-input
        @extend .add-to-cart__amount
        background: $white
        width: 3.25rem
        +desktop
            width: 5.0625rem

    &__add
        @extend .button
        cursor: pointer
        white-space: nowrap
        padding: .375rem 1.1875rem
        +desktop
            padding: .375rem 2.125rem
        +tablet
            display: block
        &--smaller
            //width: 86px
        & svg
            width: 1.2rem
            height: 1.2rem
            fill: $white
        &[disabled]
            background: $border-color