.slider-photo-card
    width: 100%
    &__slide
        height: 156px
        +desktop
            height: 192px
        &_image
            max-height: 156px
            +desktop
                max-height: 192px
    & .agile__dot
        margin: 0 4px
        button
            width: 8px
            height: 8px