.header
    & > .container
        display: flex
        align-items: center
        justify-content: space-between
        padding: .75rem 0
        +tablet
            padding: 1.25rem 0
    &__logo
        order: 2
        padding-right: 2rem
        +tablet
            order: 0
    &__catalog
        order: 1
        padding-right: 1.5rem
        +tablet
            order: 0
    &__catalog-btn
        @extend .button-catalogue
        display: none
        +tablet
            display: block
    &__catalog-btn-icon
        padding-right: 0.625rem
    &__catalog-mobile
        +tablet
            display: none

    &__menu
        display: none
        +tablet
            display: flex
            align-items: center
    &__menu-item
        padding-right: 1.5rem
        &:last-child
            padding-right: 0
    &__menu-link
        display: flex
        flex-direction: column
        align-items: center
    &__menu-icon
        margin-bottom: .5rem
    &__menu-text
        color: $black

    &__search
        order: 3
        +tablet
            padding-right: 1.625rem
            order: 0
            flex: 1
    &__search-mobile
        display: flex
        +tablet
            display: none
    &__search-mobile-icon
        height: 1.125rem
    &__search-form
        display: none
        +tablet
            display: flex
    &__search-input
        +border-style
        flex: 1
        height: 2.5rem
        padding-left: 2.375rem
        background: url(../images/header/icons/mag.svg) left 0.75rem center no-repeat
    