.banner
    display: none
    +tablet
        display: block
        margin-bottom: 12.5rem
    &--mobile
        margin: 0 auto 9.375rem auto
        display: block
        +tablet
            display: none