.discount-info
    margin-top: 1rem
    &__progress
        margin-top: 1rem
        padding: 1rem
        background-color: rgba($light-grey, .1)
    &__progress-text
        @extend .text-2
        span
            font-family: $font-montserrat-bold
            font-weight: $font-weight_bold
        &--discount
            color: $green
    &__link
        @extend .link-blue
        @extend .subtitle-2
        svg
            width: 