.photo-modal
    margin: 0 auto
    max-width: 638px
    height: 100%
    &__main
        max-height: calc(100vh - 292px)
        &_slide
            outline: none
            padding: 0 15%
        &_arrow
            width: 30px
            height: 28px
            fill: $light-grey
            cursor: pointer
            +absolute-center-x
            &:hover
                fill: $grey
            &--prev
                left: -42px
            &--next
                right: -52px
    &__previous
        max-width: 352px
        position: relative
        margin: 24px auto 0
        &_slide
            outline: none
            max-width: 40px
            height: 40px
            box-shadow: 0 5px 15px 0 rgba($black-real, 0.08)
            @extend .product-card-slider__previous_slide
            +desktop
                max-width: 56px
                height: 56px
        &_arrow
            width: 9px
            height: 15px
            fill: $light-grey
            cursor: pointer
            +absolute-center-x
            &:hover
                fill: $grey
            &--prev
                left: -30px
            &--next
                right: -3px

        & .slick-current .photo-modal__previous_slide
            border: 1px solid $light-grey
            border-radius: 4px