.product-info
    @extend .text-2
    width: 100%
    +tablet
        width: 50%
    +desktop
        margin: 0 1rem 0 2rem
    flex: 1
    +mobile
        order: 2
        display: flex
        flex-direction: column
    &__item
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: 1.125rem
    &__list
        order: 2
        +tablet
            max-width: 100%
            padding-right: 4rem
        +specialscreen
            max-width: 21.5rem
            padding-right: 0
    &__desc
        width: 7.125rem
        margin-top: auto
    &__name
        color: $light-grey
        position: relative
        width: calc(100% - 7.375rem)
        &_dash
            background: linear-gradient(90deg, $border-color_4 100%, transparent 0) repeat-x
            background-size: 3px 1px
            // background-position: 0 calc(100% - 1px)
            background-position: 0 calc(100% - .1875rem)
        &_label
            background: #fff
            max-width: 13rem
    &__all
        @extend .link-blue
        @extend .show-more
        padding-top: 1.125rem
        cursor: pointer
        white-space: nowrap
        +mobile
            order: 3
    &__brand
        padding-top: 3rem
        display: flex
        max-width: 21.5rem
        +tablet
            justify-content: space-between
        +mobile
            max-width: 100%
            order: 1
        &-logo
            cursor: pointer
            +mobile
                padding-right: 1.625rem
    &__assurance
        display: flex
        cursor: pointer
        &-icon
            width: 8.313rem
            height: 2.375rem
        
