.product-card
    @extend .container
    margin-bottom: 3.5rem
    &__title
        padding-top: 1.5rem
        @extend .title-3
    &__header
        display: flex
        padding-top: 1rem
        padding-bottom: 1rem
        +desktop
            border-bottom: 1px solid $border-color
    &__favorite-btn
        color: $grey
        cursor: pointer
        padding-top: 0
        padding-right: 1.25rem
        display: none
        +tablet
            display: block
            &:hover
                color: $black
    &__compare-btn
        color: $grey
        cursor: pointer
        padding-top: 0
        display: none
        +tablet
            display: block
            &:hover
                color: $black
    &__article
        position: relative
        cursor: pointer
        +tablet
            margin-left: auto
        & span
            &::selection
                background: #fff
                color: $primary-red
            +tablet
                &::selection
                    background: #fff
                    color: $black
        &-number
            font-weight: bold
            &--copy
                color: $primary-red
        &-tooltip
            @extend .tooltip
            width: 7.125rem
            left: 0.625rem
            bottom: -3.438rem
            &--copy
                width: 13.375rem
                left: -2.5rem
                +mobile
                    left: 0
            display: flex
        +tablet
            &:hover .product-card__article-number
                color: $primary-hover

    &__content
        margin-top: 0
        +desktop
            margin-top: 1.375rem
        +specialscreen
            display: flex
    &__slider
        margin-bottom: 1.625rem
        position: relative
        +specialscreen
            width: 45%
            margin: 0
        &_header
            position: absolute
            top: 0
            left: 0
            width: 100%
            display: flex
            justify-content: space-between
            z-index: 1
            +desktop
                left: 4.6875rem
            .card__stickers_sticker
                &::before
                    height: 1.375rem
            .card__stickers_sticker-wrap:first-child > div:first-child:after
                    height: 1.375rem
                    
        &_media
            position: absolute
            bottom: 0
            right: 0
            width: fit-content
            +desktop
                left: 0
                //bottom: 0
    &__stickers
        opacity: 1
        transition: .3s
        &--close
            opacity: 0
            transition: .3s
        +stickers
        .product-card__stickers_sticker
            +mobile
                transform: scale(1.5)
                margin-left: 1.1875rem
                margin-right: 1.5625rem
        .card__stickers-sticker
            @extend .text-1
            font-weight: 700
            padding: 0.4375rem 1.0625rem
            padding-bottom: 0.25rem
        .card__sticker-tooltip
            top: 3rem
    &__actions
        display: flex
        +desktop
            display: none
        .to-compare
            margin-right: 1rem
    &__media-buttons
        display: flex
        +desktop
            flex-direction: column

    &__description
        display: flex
        width: 100%
        +mobile
            flex-direction: column
        +specialscreen
            width: 55%
