.product-info
    &__item
        display: flex
        padding-top: 1.125rem
    &__list
        max-width: 344px
    &__desc
        &::before
            position: absolute
            right: 0
            content: ''
            border-bottom: 1px solid $border-color
    &__name
        width: 
        