.product-order
    width: 100%
    +tablet
        width: 50%
        max-width: 336px
    &__stock
        padding-left: 1.125rem
        position: relative
        margin-left: 0.563rem
        &::before
            left: 0
            bottom: 50%
            transform: translateY(50%)
            position: absolute
            content: ''
            width: 0.563rem
            height: 0.563rem
            background: $green
            border-radius: 50% 
    &__wrapper
        position: relative
        margin-top: 1rem
        padding: 1.5rem
        border: 1px solid $border-color
    &__icon
        width: $size_20
        height: $size_20
        margin-right: 1.625rem
        &:hover .product-order__tooltip
            display: block
    &__item
        padding-bottom: 0.5rem
        display: flex
        align-items: center
        color: $grey
        & svg
            & path
                pointer-events: all
            +tablet
                &:hover
                    fill: $grey
            fill: $border-color
            width: $size_20
            height: $size_20
            cursor: pointer
        &--retail
            padding-bottom: 1rem
            margin-bottom: 1.5rem
            border-bottom: 1px solid $border-color
        &--total
            padding-top: 0.75rem
            padding-bottom: 1.75rem
            & .product-order__price
                @extend .title-5
        &--discount
            &-green
                color: $green
            &-blue
                color: $blue
    &__tooltip
        @extend .tooltip
        width: 20rem
        +mobile
            bottom: -1.25rem
            left: 0
            &:before
                left: calc(50% - 2.75rem)
        +tablet
            top: .5rem
            left: -94%
            &::before
                top: 71%
                right: -.5625rem
                left: auto
                
            &::after
                top: 66%
                right: -111px
                left: auto
                width: 7rem
                height: 3rem
    &__tooltip-item
        @extend .text-3
        +flex-container
        color: $grey
        font-size: $font-size_3
        line-height: $line-height_3
        justify-content: space-between
        &:not(:last-of-type)
            margin-bottom: .5rem
        &--promo
            color: $blue
            margin-bottom: 1rem
    &__tooltip-total
        @extend .product-order__tooltip-item
        color: $green
        padding-top: 1rem
        border-top: 1px solid rgba($light-grey, .42)
        font-weight: 600
    &__tooltip-note
        @extend .text-3
        +flex-container
        color: $light-grey
        &:not(:last-of-type)
            margin-bottom: .5rem

    &__name
        padding-right: 0.375rem
    &__price
        flex: 1
        text-align: right
        &--throut
            text-decoration: line-through
    .add-to-cart
        margin-right: 0