.product-card-slider
    width: 100%
    display: flex
    +tablet-only
        align-items: center
    * 
        min-width: 0
        min-height: 0
    &__main
        width: 100%
        +tablet
            width: 53%
        margin: 0 auto
        +specialscreen
            width: 80%
            margin: 0
            
    &__main-slide
        outline: none
        position: relative
        display: flex !important
        justify-content: center
        align-items: center
        &::after
            content: ''
            display: block
            padding-bottom: 100%
    &__main-image
        position: absolute
    &__previous
        width: 3.5rem
        margin-right: 1rem
        +mobile
            display: none !important
        & .slick-current .product-card-slider__previous-slide
            border: 1px solid $grey
            border-radius: $border-radius_2
    &__previous-slide
        outline: none
        cursor: pointer
        border: 1px solid transparent
        border-radius: $border-radius_2
        overflow: hidden
        &:hover
            border: 1px solid $border-color
    &__previous-arrow
        fill: $light-grey
        width: 1.1875rem
        height: 1.125rem
        margin-left: 35%
        cursor: pointer
        &:hover
            fill: $grey
    &__zoom
        display: none
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
        background-repeat: no-repeat
        &--open
            display: block
            cursor: pointer
            
.slick-track
    &[data-v-e4caeaf8]
        position: relative
        top: 0
        left: 0
        height: auto!important
        display: block
        transform: translateZ(0)
    & .slick-center[data-v-e4caeaf8]
        margin-left: auto
        margin-right: auto
.slick-track[data-v-e4caeaf8]:after,
.slick-track[data-v-e4caeaf8]:before
    display: table
    content: ""
.slick-track[data-v-e4caeaf8]:after
    clear: both
.slick-loading .slick-track[data-v-e4caeaf8] 
    visibility: hidden 
.slick-slide[data-v-e4caeaf8]
    display: none
    float: left
    height: 100%
    min-height: 1px
    padding: .5rem 0
[dir=rtl] .slick-slide[data-v-e4caeaf8]
    float: right
.slick-slide img[data-v-e4caeaf8]
    display: block
.slick-slide.slick-loading img[data-v-e4caeaf8]
    display: none
.slick-slide.dragging img[data-v-e4caeaf8]
    pointer-events: none
.slick-initialized .slick-slide[data-v-e4caeaf8]
    display: block
.slick-loading .slick-slide[data-v-e4caeaf8]
    visibility: hidden
.slick-vertical .slick-slide[data-v-e4caeaf8]
    display: block
    height: auto
    border: 1px solid transparent
.slick-arrow.slick-hidden[data-v-21137603]
    display: none
.slick-slider[data-v-3d1a4f76]
    position: relative
    display: block
    box-sizing: border-box
    user-select: none
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent
.slick-list[data-v-3d1a4f76]
    position: relative
    display: block
    overflow: hidden
    margin: 0
    padding: 0
    transform: translateZ(0)
.slick-list[data-v-3d1a4f76]:focus
    outline: none
.slick-list.dragging[data-v-3d1a4f76]
    cursor: pointer

.slick-dots
    margin: 1rem auto 0
    display: flex !important
    justify-content: center
    li
        margin: 0 $dot-spacing
        +mobile
            pointer-events: none
        button
            width: .5rem
            height: .5rem
            background: $pre-white
            border-radius: 100%
            padding: 0
            transition-duration: .3s
            font-size: 0
.slick-active button,
.slick-active:hover button
    background: $light-grey !important
        
        
        
        