.product-card
    @extend .container
    margin-bottom: 56px
    &__title
        padding-top: 1.5rem
        @extend .title-3
    &__header
        display: flex
        padding-top: 1rem
        padding-bottom: 1rem
        border-bottom: 1px solid #8A98A7
    &__favorite-btn
        cursor: pointer
        @extend .card__favorite-btn__mobile
        padding-top: 0
        padding-right: 1.25rem
    &__compare-btn
        cursor: pointer
        @extend .card__compare-btn__mobile
        padding-top: 0
        flex: 1
    &__content
        display: flex
    &__slider
        width: 45%
    &__description
        display: flex
        width: 55%
    &__product-info
        flex: 1