.product-card-slider
    width: 100%
    display: flex
    &__main
        width: 504px
        &_slide
            outline: none
    &__previous
        width: 56px
        margin-right: 16px
        &_slide
            outline: none
        &_arrow
            fill: $light-grey
            width: 19px
            height: 18px
            margin-left: 35px
            
        & .slick-current .product-card-slider__previous_slide
            border: 1px solid $light-grey
            border-radius: 2px
            
.slick-track
    &[data-v-e4caeaf8]
        position: relative
        top: 0
        left: 0
        display: block
        transform: translateZ(0)
    & .slick-center[data-v-e4caeaf8]
        margin-left: auto
        margin-right: auto
.slick-track[data-v-e4caeaf8]:after,
.slick-track[data-v-e4caeaf8]:before
    display: table
    content: ""
.slick-track[data-v-e4caeaf8]:after
    clear: both
.slick-loading .slick-track[data-v-e4caeaf8] 
    visibility: hidden 
.slick-slide[data-v-e4caeaf8]
    display: none
    float: left
    height: 100%
    min-height: 1px
    padding: 8px 0
[dir=rtl] .slick-slide[data-v-e4caeaf8]
    float: right
.slick-slide img[data-v-e4caeaf8]
    display: block
.slick-slide.slick-loading img[data-v-e4caeaf8]
    display: none
.slick-slide.dragging img[data-v-e4caeaf8]
    pointer-events: none
.slick-initialized .slick-slide[data-v-e4caeaf8]
    display: block
.slick-loading .slick-slide[data-v-e4caeaf8]
    visibility: hidden
.slick-vertical .slick-slide[data-v-e4caeaf8]
    display: block
    height: auto
    border: 1px solid transparent
.slick-arrow.slick-hidden[data-v-21137603]
    display: none
.slick-slider[data-v-3d1a4f76]
    position: relative
    display: block
    box-sizing: border-box
    user-select: none
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent
.slick-list[data-v-3d1a4f76]
    position: relative
    display: block
    overflow: hidden
    margin: 0
    padding: 0
    transform: translateZ(0)
.slick-list[data-v-3d1a4f76]:focus
    outline: none
.slick-list.dragging[data-v-3d1a4f76]
    cursor: pointer      
        
        
        
        