.sticky-card
    background: #fff
    transform: translateY(-100%)
    position: fixed
    width: 100%
    top: 0
    z-index: 1000
    transition-duration: .3s
    display: none
    +desktop
        display: block
    &--fixed
        box-shadow: 0px 5px 16px rgba(181, 195, 208, 0.32)
        transform: translateY(0%)
    & > .container
        display: flex
        align-items: center
        padding: 0.5rem 0
    &__img
        width: 4rem
        height: 4rem
        padding-right: 1.5rem
    &__stickers
        display: flex
    &__desc
        flex: 1
    &__text
        font-size: $font-size_4  
        padding-top: 0.5rem
    &__price
        padding-left: percentage(9 / 101.5)
        border-left: 1px solid $border-color
        padding-right: percentage(5.5 / 101.5)
        &--old
            font-size: $font-size_3
            text-decoration: line-through
        &--total
            font-size: $font-size_8
            font-weight: bold
    .add-to-cart
        width: 13.063rem
        height: 2.5rem
        &__add
            padding: 0.625rem 0
        &__button
            height: 2.5rem