.sticky-card
    background: #fff
    &--fixed
        position: fixed
        width: 100%
        top: 0
        z-index: 1000
    & > .container
        display: flex
        align-items: center
        padding: 0.5rem 0
    &__img
        width: 4rem
        height: 4rem
        padding-right: 1.5rem
    &__stickers
        display: flex
    &__desc
        flex: 1
    &__text
        font-size: $font-size_4  
        padding-top: 0.5rem
    &__price
        padding-left: 9rem
        border-left: 1px solid $border-color
        padding-right: 5.5rem
        &--old
            font-size: 0.875rem
            text-decoration: line-through
        &--total
            font-size: $font-size_8
            font-weight: bold