<component is="profile">
	<template v-slot:my-profile>1</template>
	<template v-slot:order-list>
		<div class="order">
			<div class="order__header">
				<h2 class="order__title">Список заказов</h2>
			</div>
			<div class="order__info">
				<div class="order__info-icon">
					<svg>
						<use :xlink:href="templatePath + 'images/sprite.svg#icons__wanted'"></use>
					</svg>
				</div>
				<div class="order__info-text">
					В этом разделе вы найдете информацию о заказах, сделанных на сайте
				</div>
			</div>
			<div class="order__select">
				<select name="" id="">
					<option value="Выполнено" default>Выполнено</option>
					<option value="Не выполнено">Не выполнено</option>
					<option value="Еще что-то">Еще что-то</option>
				</select>
			</div>
			<div class="order__main">
				<ul class="order__list">
					<li class="order__item">
						<div class="order__desc">
							<div class="order__number">#325214</div>
							<div class="order__date">31.12.2020</div>
							<div class="order__status">Выполнен</div>
							<div class="order__qty">1 000 000 товаров</div>
							<div class="order__price">1 000 819.27 RON</div>
							<div class="order__btn">
								<div class="order__btn-icon">
									<svg>
										<use :xlink:href="templatePath + 'images/sprite.svg#icons__repeat'"></use>
									</svg>
								</div>
								<div class="order__btn-text">
									Повторить заказ
								</div>
							</div>
							<div class="order__arrow">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-down'"></use>
								</svg>
							</div>
						</div>
					</li>
					<li class="order__item">
						<div class="order__desc">
							<div class="order__number">#325214</div>
							<div class="order__date">31.12.2020</div>
							<div class="order__status">Выполнен</div>
							<div class="order__qty">1 000 000 товаров</div>
							<div class="order__price">1 000 819.27 RON</div>
							<div class="order__btn">
								<div class="order__btn-icon">
									<svg>
										<use :xlink:href="templatePath + 'images/sprite.svg#icons__repeat'"></use>
									</svg>
								</div>
								<div class="order__btn-text">
									Повторить заказ
								</div>
							</div>
							<div class="order__arrow">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-down'"></use>
								</svg>
							</div>
						</div>
					</li>
					<li class="order__item">
						<div class="order__desc">
							<div class="order__number">#325214</div>
							<div class="order__date">31.12.2020</div>
							<div class="order__status">Выполнен</div>
							<div class="order__qty">4 товарa</div>
							<div class="order__price">3 219.27 RON</div>
							<div class="order__btn">
								<div class="order__btn-icon">
									<svg>
										<use :xlink:href="templatePath + 'images/sprite.svg#icons__repeat'"></use>
									</svg>
								</div>
								<div class="order__btn-text">
									Повторить заказ
								</div>
							</div>
							<div class="order__arrow">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-down'"></use>
								</svg>
							</div>
						</div>
						<ul class="order__product-list">
							<li class="order__product-item">
								<div class="order__product-number">325214</div>
								<div class="order__product-desc">Trimmer pe benzina GT-52S...</div>
								<div class="order__product-qty">12</div>
								<div class="order__product-item-price">65 RON</div>
								<div class="order__product-all-price">910.30 RON</div>
								<div class="order__product-discount">10%</div>
								<div class="order__product-total-price">810.30 RON</div>
							</li>
							<li class="order__product-item">
								<div class="order__product-number">325214</div>
								<div class="order__product-desc">Trimmer pe benzina GT-52S...</div>
								<div class="order__product-qty">12</div>
								<div class="order__product-item-price">65 RON</div>
								<div class="order__product-all-price">910.30 RON</div>
								<div class="order__product-discount">10%</div>
								<div class="order__product-total-price">810.30 RON</div>
							</li>
							<li class="order__product-item">
								<div class="order__product-number">325214</div>
								<div class="order__product-desc">Trimmer pe benzina GT-52S...</div>
								<div class="order__product-qty">12</div>
								<div class="order__product-item-price">65 RON</div>
								<div class="order__product-all-price">910.30 RON</div>
								<div class="order__product-discount">10%</div>
								<div class="order__product-total-price">810.30 RON</div>
							</li>
							<li class="order__product-item">
								<div class="order__product-number">325214</div>
								<div class="order__product-desc">Trimmer pe benzina GT-52S...</div>
								<div class="order__product-qty">12</div>
								<div class="order__product-item-price">65 RON</div>
								<div class="order__product-all-price">910.30 RON</div>
								<div class="order__product-discount">10%</div>
								<div class="order__product-total-price">810.30 RON</div>
							</li>
						</ul>
					</li>
					<li class="order__item">
						<div class="order__desc">
							<div class="order__number">#325214</div>
							<div class="order__date">31.12.2020</div>
							<div class="order__status">Выполнен</div>
							<div class="order__qty">1 000 000 товаров</div>
							<div class="order__price">1 000 819.27 RON</div>
							<div class="order__btn">
								<div class="order__btn-icon">
									<svg>
										<use :xlink:href="templatePath + 'images/sprite.svg#icons__repeat'"></use>
									</svg>
								</div>
								<div class="order__btn-text">
									Повторить заказ
								</div>
							</div>
							<div class="order__arrow">
								<svg>
									<use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-down'"></use>
								</svg>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</template>
	<template v-slot:my-check>
		<div class="my-check">
			<h2 class="my-check__title">Мой счет</h2>
			<div class="my-check__info">
				<div class="my-check__info-icon">
					<svg>
						<use :xlink:href="templatePath + 'images/sprite.svg#icons__wanted'"></use>
					</svg>
				</div>
				<div class="my-check__info-text">
					В этом разделе вы найдете информацию о заказах, сделанных на сайте
				</div>
			</div>
			<div class="my-check__main">
				<ul class="my-check__list">
					<li class="my-check__item my-check__item--head">
						<div class="my-check__sum">Сумма</div>
						<div class="my-check__date">Время и дата</div>
						<div class="my-check__operation">Операция</div>
						<div class="my-check__code my-check__code--head">Код операции</div>
					</li>
					<li class="my-check__item">
						<div class="my-check__sum my-check__sum--red">1000000 RON</div>
						<div class="my-check__date">23.12.2020 в 24:10</div>
						<div class="my-check__operation">Оплата заказа #3895347</div>
						<div class="my-check__code">23064560-0006</div>
                        <div class="my-check__order">#325214</div>
					</li>
					<li class="my-check__item">
						<div class="my-check__sum">+1500 RON</div>
						<div class="my-check__date">23.12.2020 в 24:10</div>
						<div class="my-check__operation">Пополнение баланса</div>
						<div class="my-check__code">23064560-0006</div>
                        <div class="my-check__order">#325214</div>
					</li>
					<li class="my-check__item">
						<div class="my-check__sum">+1500 RON</div>
						<div class="my-check__date">23.12.2020 в 24:10</div>
						<div class="my-check__operation">Пополнение баланса</div>
						<div class="my-check__code">23064560-0006</div>
                        <div class="my-check__order">#325214</div>
					</li>
					<li class="my-check__item">
						<div class="my-check__sum">+1500 RON</div>
						<div class="my-check__date">23.12.2020 в 24:10</div>
						<div class="my-check__operation">Пополнение баланса</div>
						<div class="my-check__code">23064560-0006</div>
                        <div class="my-check__order">#325214</div>
					</li>
					<li class="my-check__item">
						<div class="my-check__sum my-check__sum--red">-1500 RON</div>
						<div class="my-check__date">23.12.2020 в 24:10</div>
						<div class="my-check__operation">Оплата заказа</div>
						<div class="my-check__code">23064560-0006</div>
                        <div class="my-check__order">#325214</div>
					</li>
					<li class="my-check__item">
						<div class="my-check__sum">+1500 RON</div>
						<div class="my-check__date">23.12.2020 в 24:10</div>
						<div class="my-check__operation">Пополнение баланса</div>
						<div class="my-check__code">23064560-0006</div>
                        <div class="my-check__order">#325214</div>
					</li>
				</ul>
			</div>
		</div>
	</template>
	<template v-slot:address-list>4</template>
	<template v-slot:my-favorite>5</template>
	<template v-slot:actions>6</template>
</component>
