.discounts-conditions
    margin-bottom: 8.375rem
    margin-top: 2.5rem
    +tablet 
        margin-top: 3.5rem
        margin-bottom: 0
    &__title
        @extend .title-6
        font-weight: 700
    &__main
        margin-top: 1rem
        @extend .text-2
        font-weight: 400
        color: $grey
    &__link
        color: $blue
        text-decoration: underline
        cursor: pointer