.topnav
    background: #F6F6F6
    +mobile
        display: none
    & > .container
        display: flex
        padding: 0.875rem 0
    &__nav
        flex: 1
    &__nav-list
        display: flex
    &__nav-item
        padding-right: 1.5rem
        &:last-child
            padding-right: 0
    &__nav-link
        color: $grey
    &__switch
        padding-right: 1.625rem
        display: flex
    &__switch-icon
        padding-right: 0.313rem
    &__switch-text
        color: $grey
    &__phone
    &__phone-link
        color: $grey
        display: flex
    &__phone-icon 
        padding-right: 0.625rem