.topnav
    position: relative
    background: #F6F6F6
    +mobile
        display: none
    & > .container
        display: flex
        padding: 0.875rem 0
    &__nav
        flex: 1
    &__nav-list
        display: flex
    &__nav-item
        padding-right: 1.5rem
        &:last-child
            padding-right: 0
    &__nav-link
        @extend .link-2
    &__switch
        @extend .link-2
        padding-right: 1.625rem
        display: flex
        align-items: center
        &:hover > img
            filter: brightness(.5)
    &__switch-pic
        padding-right: 0.313rem
        align-self: baseline
        &-icon
            transform: rotate(180deg)
            &_opened
                transform: rotate(0deg)
    &__switch-text
    &__phone
        display: flex
        align-items: center
        @extend .link-2
        &:hover > img
            filter: brightness(.5)
    &__phone-icon 
        padding-right: 0.625rem